<div class="row tradeDashboard">
    <div ba-panel class="col-lg-12 col-xs-12" ba-panel-title="International Trades Dashboard">
        <div class="panel-content">

            <div class="col-md-12">

                <div class="trade-count">
                        <div ba-panel>

                            <div class="col-md-2 col-md-offset-1 item ">
                                <div class="chart" id="chart1" rel="{{ ::vm.dashboardColors.colors.success }}" data-percent="{{vm.dashboardData.tradesCount.percentageCompleted}}"> <span class="percent"></span> </div>
                                <div class="description col-xs-12">
                                    <div class="title">Total Trades</div>
                                    <div class="description-stats">{{::vm.dashboardData.tradesCount.total}}</div>
                                    <div class="title ">Completed</div>
                                    <div class="description-stats success">{{::vm.dashboardData.tradesCount.completed}}</div>
                                </div>
                            </div>

                            <div class="col-md-2 item">
                                <div class="chart" id="chart1" rel="{{ ::vm.dashboardColors.colors.warning }}" data-percent="{{vm.dashboardData.washoutCount.washoutPercentage}}"> <span class="percent"></span> </div>
                                <div class="description col-xs-12">
                                    <div class="title">Washout at X</div>
                                    <div class="description-stats">{{::vm.dashboardData.washoutCount.washoutAtXCount}}</div>
                                    <div class="title">Washout</div>
                                    <div class="description-stats warning">{{::vm.dashboardData.washoutCount.washoutCount}}</div>
                                </div>
                            </div>

                            <div class="col-md-2 item">
                                <div class="chart" id="chart1" rel="{{ ::vm.dashboardColors.colors.primary }}" data-percent="{{vm.dashboardData.contractCount.percentageOwnContractCount}}"> <span class="percent"></span> </div>
                                <div class="description col-xs-12">
                                    <div class="title">Self Contract</div>
                                    <div class="description-stats">{{::vm.dashboardData.contractCount.selfContractCount}}</div>

                                    <div class="title">Buyer Contract</div>
                                    <div class="description-stats primary">{{::vm.dashboardData.contractCount.ownContractCount}}</div>

                                </div>
                            </div>

                            <div class="col-md-2 item">
                                <div class="chart" id="chart1" rel="{{ ::vm.dashboardColors.colors.info }}" data-percent="{{vm.dashboardData.commissionCount.percentagePercentageCommission}}"> <span class="percent"></span> </div>
                                <div class="description col-xs-12">
                                    <div class="title">Fixed Commission</div>
                                    <div class="description-stats">{{::vm.dashboardData.commissionCount.fixedCount}}</div>
                                    <div class="title">Percentage Commission</div>
                                    <div class="description-stats info">{{::vm.dashboardData.commissionCount.percentageCount}}</div>
                                </div>
                            </div>

                            <div class="col-md-2 item">
                                <div class="chart" id="chart1" rel="{{ ::vm.dashboardColors.colors.danger }}" data-percent="{{vm.dashboardData.subTrades.secondaryTradePercentage}}"> <span class="percent"></span> </div>
                                <div class="description col-xs-12">
                                    <div class="title">Partial Shipments</div>
                                    <div class="description-stats">{{::vm.dashboardData.subTrades.partialShipmentCount}}</div>
                                    <div class="title">Secondary Transactions</div>
                                    <div class="description-stats danger">{{::vm.dashboardData.subTrades.secondaryTradeCount}}</div>
                                </div>
                            </div>

                        </div>
                </div>

            </div>




            <div class="col-md-12">

                <div ba-panel class="number-count col-md-3">
                    <div class="description">
                        <div class="title">Un Resolved Trade Disputes</div>
                        <div class="big-number" ng-bind="vm.dashboardData.tradeDisputeCount"></div>
                        <div class="button-row">
                            <button ng-click="vm.showTrades('tradeDispute', 'Un Resolved Trade Disputes')" class="btn btn-xs btn-danger">Show Trades</button>
                        </div>
                    </div>
                </div>

                <div ba-panel class="number-count col-md-3">
                    <div class="description">
                        <div class="title">Arrived But Not Completed</div>
                        <div class="big-number" ng-bind="vm.dashboardData.arrivedNotCompletedCount"></div>
                        <div class="button-row">
                            <button ng-click="vm.showTrades('arrivedList', 'Arrived at Port')" class="btn btn-xs btn-danger">Show Trades</button>
                        </div>
                    </div>
                </div>

                <div ba-panel class="number-count col-md-3">
                    <div class="description">
                        <div class="title">Expected Arrival</div>
                        <div class="big-number" ng-bind="vm.dashboardData.expectedArrivalCount"></div>
                        <div class="button-row">
                            <button ng-click="vm.showTrades('expectedArrival', 'Expected Arrival')" class="btn btn-xs btn-danger">Show Trades</button>
                        </div>
                    </div>
                </div>


                <div ba-panel class="number-count col-md-3">
                    <div class="description">
                        <div class="title">Shipment Expiration</div>
                        <div class="big-number" ng-bind="vm.dashboardData.notShippedCount"></div>
                        <div class="button-row">
                            <button ng-click="vm.showTrades('next30DaysExpiration', 'Next 30 Days')" class="btn btn-xs btn-warning">In Next 30 Days</button>
                            <button ng-click="vm.showTrades('expiredShipment', 'Shipment Expired At Port')" class="btn btn-xs btn-danger">Expired</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 chartist">
                <div ba-panel  ba-panel-class="with-scroll">
                    <div class="row">
                        <div id="multi-bar" class="ct-chart"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>


<!--<section class="chartist">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12 ">-->
            <!--<div ba-panel ba-panel-title="Bars" ba-panel-class="with-scroll ">-->
                <!--<h5>Multi-line labels bar chart</h5>-->
                <!--<div id="multi-bar" class="ct-chart"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->