<div ba-panel class="dg-filterPanel" ng-if="buyer || seller || product || productItems ||bpTypes || country || priceMarket || datePickerNeeded">
    <div class="row">
        <div ng-if="datePickerNeeded" class="col-sm-6 col-sm-offset-6">
            <div class="dg-datePicker">
                <input type="daterange"
                       opens="left"
                       ng-change="datePickerChanged(datePicker)"
                       format="{{appFormats.FullDate}}"
                       ranges="ranges"
                       max-date="maxDate"
                       readonly="true"
                       separator="{{seperator}}"
                       class="form-control date-picker  dg-filterDropdown"
                       ng-model="datePicker" />
            </div>
        </div>
        <custom-filter on-selected-values-changed="onLocalBuyerSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       page="{{page}}"
                       ng-if="localBuyer"
                       title="Local Buyer"
                       end-point="{{apiEndPoints.dropDown.business}}" filterSubType="{{appTabFilter.LOCAL_BUYER}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onLocalSellerSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       page="{{page}}"
                       ng-if="localSeller"
                       title="Local Seller"
                       end-point="{{apiEndPoints.dropDown.business}}" filterSubType="{{appTabFilter.LOCAL_BUYER}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onBuyersSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       page="{{page}}"
                       ng-if="buyer"
                       title="Buyer"
                       end-point="{{apiEndPoints.dropDown.business}}" filterSubType="{{appTabFilter.BUYER}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onProductItemSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       page="{{page}}"
                       ng-if="productItems"
                       title="Product Items"
                       end-point="{{apiEndPoints.dropDown.productItem}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onSellersSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       page="{{page}}"
                       ng-if="seller"
                       end-point="{{apiEndPoints.dropDown.business}}"
                       title="Seller">
        </custom-filter>
        <custom-filter on-selected-values-changed="onProductsSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       ng-if="product"
                       page="{{page}}"
                       title = "Products"
                       end-point="{{apiEndPoints.dropDown.product}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onLocalTraderSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       ng-if="localTrader"
                       page="{{page}}"
                       title = "Local Trader"
                       end-point="{{apiEndPoints.dropDown.business}}" filterSubType="{{appTabFilter.LOCAL_TRADER}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onBpTypesSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       title="Business Type"
                       ng-if="bpTypes" end-point="{{apiEndPoints.dropDown.bpType}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onCountrySelectedChanged({selectedList:selectedList, initialized: initialized})"
                       title="Country"
                       ng-if="country" end-point="{{apiEndPoints.dropDown.country}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onWarehouseSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       title="Warehouse"
                       ng-if="warehouse" end-point="{{apiEndPoints.dropDown.warehouses}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onPriceMarketSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       title="Price Market"
                       ng-if="priceMarket" end-point="{{apiEndPoints.dropDown.priceMarket}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onTranStatusSelectedChanged({selectedList:selectedList, initialized: initialized})"
                       title="Transaction Status"
                       ng-if="tranStatus" end-point="{{apiEndPoints.dropDown.transactionStatus}}">
        </custom-filter>
    </div>
</div>
