<div ba-panel class="dg-filterPanel" ng-if="buyer || seller || product || bpTypes || country || priceMarket || datePickerNeeded">
    <div class="row">
        <div ng-if="datePickerNeeded" class="col-sm-6 col-sm-offset-6">
            <div class="dg-datePicker">
                <input type="daterange"
                       opens="left"
                       ng-change="datePickerChanged(datePicker)"
                       format="{{appFormats.FullDate}}"
                       ranges="ranges"
                       max-date="maxDate"
                       readonly="true"
                       separator="{{seperator}}"
                       class="form-control date-picker  dg-filterDropdown"
                       ng-model="datePicker" />
            </div>
        </div>
        <custom-filter on-selected-values-changed="onBuyersSelectedChanged({selectedList:selectedList})"
                       ng-if="buyer"
                       title="Buyer"
                       end-point="{{apiEndPoints.dropDown.business}}" filterSubType="{{appTabFilter.BUYER}}">

        </custom-filter>
        <custom-filter on-selected-values-changed="onSellersSelectedChanged({selectedList:selectedList})"
                       ng-if="seller"
                       end-point="{{apiEndPoints.dropDown.business}}"
                       title="Seller">
        </custom-filter>
        <custom-filter on-selected-values-changed="onProductsSelectedChanged({selectedList:selectedList})"
                       ng-if="product"
                       title = "Products"
                       end-point="{{apiEndPoints.dropDown.product}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onBpTypesSelectedChanged({selectedList:selectedList})"
                       title="Business Type"
                       ng-if="bpTypes" end-point="{{apiEndPoints.dropDown.bpType}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onCountrySelectedChanged({selectedList:selectedList})"
                       title="Country"
                       ng-if="country" end-point="{{apiEndPoints.dropDown.country}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onPriceMarketSelectedChanged({selectedList:selectedList})"
                       title="Price Market"
                       ng-if="priceMarket" end-point="{{apiEndPoints.dropDown.priceMarket}}">
        </custom-filter>
        <custom-filter on-selected-values-changed="onTranStatusSelectedChanged({selectedList:selectedList})"
                       title="Transaction Status"
                       ng-if="tranStatus" end-point="{{apiEndPoints.dropDown.transactionStatus}}">
        </custom-filter>
    </div>
</div>
