<div class="row">
    <div class="col-md-6 marginBottom10px">
        <button class="btn btn-primary" data-toggle="modal"
                ng-click="vm.goToManifestItems()">
            Manifest Items
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <filter-bar
                ng-show="!vm.showForm"
                date-picker-needed="true"
                product="true"
                buyer="true"
                seller="true"
                date-picker="vm.dateRange"
                on-date-change="vm.onDateRangeChanged(dateRange)"
                on-buyers-selected-changed="vm.onBuyersSelectedChanged(selectedList, initialized)"
                on-sellers-selected-changed="vm.onSellersSelectedChanged(selectedList, initialized)"
                on-products-selected-changed="vm.onProductsSelectedChanged(selectedList, initialized)">
        </filter-bar>
    </div>
</div>


<div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" ba-panel>
    <div class="row">
        <div class="row pie-charts" ng-if="vm.showCharts">
            <div class="pie-chart-item-container">
                <div ba-panel>
                    <div class="pie-chart-item">
                        <div class="chart" rel="{{ ::vm.dashboardColors.colors.success }}" data-percent="{{vm.sumData.sumPercentage}}"> <span class="percent"></span> </div>
                        <div class="description">
                            <div>Total Containers</div>
                            <div class="description-stats">{{::vm.sumData.filteredSum}}<span class="metric">FCL</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-7 col-xs-12"
             ba-panel
             ba-panel-title="Container FCL"
             ba-panel-class="medium-panel">
            <line-chart chart-data="vm.graphData" chart-values="vm.chartValues"></line-chart>
        </div>
    </div>
</div>