

<div class="row">
    <div class="col-md-12 marginBottom10px">
        <button class="btn btn-primary"  ng-click="vm.createWatsappCopy(vm.transaction)">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> &nbsp;Copy for Watsapp
        </button>

        <button class="btn btn-primary"  ng-click="vm.showTradeCashFlow(vm.transaction.basic.fileNo)">
            <i class="fa fa-money" aria-hidden="true"></i> &nbsp;Cash Flow
        </button>
    </div>
</div>

<div class="col-md-12 transactionView">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">

        <div class="row transactionNo">
            <div class="col-xs-12 col-md-12">
                </br>
                <button class="btn btn-xs btn-success pull-right"
                        style="margin-left: 10px"
                        ng-click="vm.editTransactionDetails(vm.transaction.basic.fileNo)">Edit</button>
                <!--<button class="btn btn-xs btn-warning pull-right"-->
                        <!--ng-if="!vm.transaction.isDisputed"-->
                        <!--ng-click="vm.disputeTrade(vm.transaction.basic.fileNo)">Trade Dispute</button>-->
            </div>

            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Transaction Date</h3>
                <div ng-bind="vm.transaction.basic.date | date: vm.appFormats.FullDate2" class="number"></div>
            </div>
            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">File No</h3>
                <div ng-bind="vm.transaction.basic.fileNo" class="number"></div>
            </div>
            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Contract No</h3>
                <div class="number" ng-bind="vm.transaction.basic.contractNo ? vm.transaction.basic.contractNo : 'NA'"></div>
            </div>

            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Price  <span class="titled">USD</span></h3>
                <div ng-bind="vm.transaction.basic.price | number: '2'" class="number"></div>
            </div>

            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Quantity <span class="titled">MT</span></h3>
                <div ng-bind="vm.transaction.commission.quantity  | number: '2'" class="number"></div>
            </div>

            <div class="col-xs-12 col-md-2">
                <h3 class="with-line">Expected Commission</h3>
                <div ng-bind="'USD ' + (vm.transaction.commission.expectedCommission | number : 2)" class="number"></div>
            </div>


            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Actual Commission</h3>
                <div class="number" ng-if="!vm.transaction.commission.quantityShipped">NA</div>
                <div  ng-if="vm.transaction.commission.quantityShipped"
                      ng-bind="'USD ' + (vm.transaction.commission.actualCommission | number : 2)" class="number"></div>
            </div>

            <div class="col-xs-12 col-md-4">
                <h3 class="with-line">Shipment</h3>
                <div class="number">{{vm.transaction.basic.shipmentStart | date: vm.appFormats.FullDate2}} - {{vm.transaction.basic.shipmentEnd  | date: vm.appFormats.FullDate2}}</div>
            </div>


            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Buyer</h3>
                <div class="countryFlag">
                    <div class="flag">
                        <img ng-if="vm.transaction.basic.buyer.countryFlag"
                             width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.basic.buyer.countryFlag}}">
                        <img ng-if="!vm.transaction.basic.buyer.countryFlag"
                             width="45" height="45" src="{{vm.transaction.basic.buyer.countryFlag | countryLogo}}">
                    </div>

                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.basic.buyer.name}}</div>
                    <div class="name">{{vm.transaction.basic.buyer.country}}</div>
                </div>
            </div>


            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Seller</h3>
                <div class="countryFlag">
                    <img ng-if="vm.transaction.basic.seller.countryFlag"
                         width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.basic.seller.countryFlag}}">
                    <img ng-if="!vm.transaction.basic.seller.countryFlag"
                         width="45" height="45" src="{{vm.transaction.basic.seller.countryFlag | countryLogo}}">
                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.basic.seller.name}}</div>
                    <div class="name">{{vm.transaction.basic.seller.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Contractual Buyer</h3>
                <div class="countryFlag">
                    <div class="flag">
                        <img ng-if="vm.transaction.basic.contractualBuyer.countryFlag"
                             width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.basic.contractualBuyer.countryFlag}}">
                        <img ng-if="!vm.transaction.basic.contractualBuyer.countryFlag"
                             width="45" height="45" src="{{vm.transaction.basic.contractualBuyer.countryFlag | countryLogo}}">
                    </div>
                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.basic.contractualBuyer.name}}</div>
                    <div class="name">{{vm.transaction.basic.contractualBuyer.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Product</h3>
                <div class="countryFlag">
                    <div class="flag"><img width="45" height="45" src="{{vm.appConstants.HOST  + '/' +vm.transaction.basic.productItem.countryFlag}}"></div>
                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.basic.productItem.name}}</div>
                    <div class="name">{{vm.transaction.basic.productItem.country}} | {{vm.transaction.basic.productItem.keyword}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Buyer Broker</h3>
                <div class="number number-space" ng-if="!vm.transaction.commission.buyerBroker">NA</div>
                <div class="countryFlag" ng-if="vm.transaction.commission.buyerBroker">
                    <div class="flag">
                        <img ng-if="vm.transaction.commission.buyerBroker.countryFlag"
                             width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.commission.buyerBroker.countryFlag}}">
                        <img ng-if="!vm.transaction.commission.buyerBroker.countryFlag"
                             width="45" height="45" src="{{vm.transaction.commission.buyerBroker.countryFlag | countryLogo}}">
                    </div>
                </div>
                <div class="details" ng-if="vm.transaction.commission.buyerBroker">
                    <div class="number">{{vm.transaction.commission.buyerBroker.name}}</div>
                    <div class="name">{{vm.transaction.commission.buyerBroker.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Seller Broker</h3>
                <div class="number-space number" ng-if="!vm.transaction.commission.sellerBroker">NA</div>
                <div class="countryFlag"  ng-if="vm.transaction.commission.sellerBroker">
                    <img ng-if="vm.transaction.commission.buyerBroker.countryFlag"
                         width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.commission.sellerBroker.countryFlag}}">
                    <img ng-if="!vm.transaction.commission.buyerBroker.countryFlag"
                         width="45" height="45" src="{{vm.transaction.commission.sellerBroker.countryFlag | countryLogo}}">
                </div>
                <div class="details" ng-if="vm.transaction.basic.commission.sellerBroker">
                    <div class="number">{{vm.transaction.commission.sellerBroker.name}}</div>
                    <div class="name">{{vm.transaction.commission.sellerBroker.country}}</div>
                </div>
            </div>








            <div class="col-xs-12 col-md-4">
                <h3 class="with-line">Status</h3>
                <div class="number pull-right" style="float:left;" ng-if="vm.transaction.completeObj.isComplete">{{vm.transaction.completeObj.completionDate | date: vm.appFormats.FullDate2}}</div>
                <button class="btn btn-xs"
                        ng-class="{'btn-danger':!vm.transaction.completeObj.isComplete, 'btn-primary':vm.transaction.completeObj.isComplete}"
                        ng-click="vm.changeCompleteStatus(vm.transactionId.completeObj, vm.transactionId)">Complete</button>
            </div>

            <div class="col-xs-12 col-md-4" ng-if="vm.transaction.onOurContract">
                <h3 class="with-line">Invoice</h3>
                <button class="btn btn-xs btn-success pull-left cursor-pointer"
                        ng-click="vm.goToInvoice(vm.transaction.basic.fileNo, vm.transaction.invoice.invoiceNo)" ng-if="vm.transaction.invoice">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Invoice No:{{ vm.transaction.invoice.invoiceNo}}
                </button>
                <div class="number pull-right" ng-if="vm.transaction.invoice"><span class="titled" ng-bind="vm.transaction.businessCurrency"></span> {{vm.transaction.invoice.invoiceAmount}}</div>
                <button ng-if="vm.transaction.invoiceCreation" class="btn btn-xs btn-success"  ng-click="vm.createTransactionInvoice(vm.transaction.basic.fileNo)">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Create Invoice
                </button>
            </div>

            <div class="col-md-12 col-md-12">
                <h3 class="with-line">Other Information</h3>
                <div class="number" ng-bind="vm.transaction.basic.otherInfo ? vm.transaction.basic.otherInfo : 'NA'"></div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <trade-wash-out-card trade="vm.transaction">
                            </trade-wash-out-card>
                            <br/>
                            <trade-dispute-card trade="vm.transaction">
                            </trade-dispute-card>
                        </div>

                        <div class="col-md-8 col-xs-12">
                            <commission-card commission="vm.transaction.commission">
                            </commission-card>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Transaction Documents
                        <button class="btn btn-xs btn-success" ng-click="vm.addNewDocument()"> Add New</button>
                    </h3>
                    <div ng-show="vm.addingDocument" class="row">

                        <div class="col-lg-12">
                            <div class="form-group col-lg-4  col-xs-12">
                                <label>Document Name</label>
                                <input class="form-control" ng-model="vm.newDocumentName" type="text"/>
                                <br/>
                                <button class="btn btn-success btn-xs"
                                        type="file"
                                        ngf-select="vm.uploadTradeDocument($file, $invalidFiles)"
                                        accept="*">
                                    <i class="fa fa-upload"></i> Upload
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="horizontal-scroll">
                            <table class="table table-striped" st-table="smartTableData">
                                <thead>
                                <tr class="sortable table-header" ng-if="vm.transaction.files.length!==0">
                                    <th><span class="count">{{vm.transaction.files.length}}</span></th>
                                    <th>Document Name</th>
                                    <th>Uploaded By</th>
                                    <th>Uploaded At</th>
                                    <th>Actions</th>
                                </tr>
                                <tr class="table-header" ng-if="vm.transaction.files.length===0">
                                    <th>No Documents have been added for this transaction.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doc in vm.transaction.files">
                                    <td></td>
                                    <td ng-bind="doc.fileName"></td>
                                    <td ng-bind="doc.uploadedBy"></td>
                                    <td ng-bind="doc.uploadedAt | date: vm.appFormats.date"></td>
                                    <td>
                                        <div class="buttons">
                                            <!--<button class="btn btn-success editable-table-button btn-xs"-->
                                                    <!--ng-click="vm.openTradeDoc(row.fileId)">Open</button>-->
                                            <button class="btn btn-primary editable-table-button btn-xs"
                                                    ng-click="vm.downloadTradeDoc(doc.fileId, doc.fileName, doc.extension)">Download</button>
                                            <button class="btn btn-warning editable-table-button btn-xs"
                                                    ng-click="vm.deleteTradeDoc(doc.fileId)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row shipment">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Shipment</h3>
                    <div class="row shipmentCard">
                        <div class="tab-container">
                            <div class="col-md-3 col-xs-12" >
                                <div class="button tab"
                                     ng-class="{'active': vm.transaction.shipment.notShipped.active}">
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.NOT_SHIPPED, true, vm.transactionId)"
                                            ng-show="!vm.transaction.shipment.notShipped.active"
                                            class="btn btn-xs btn-success activate">Activate</button>
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.NOT_SHIPPED, false, vm.transactionId)"
                                            ng-show="vm.transaction.shipment.notShipped.active"
                                            class="btn btn-xs btn-warning activate">Deactivate</button>
                                    Not Shipped&nbsp;<i class="fa fa-ship" aria-hidden="true"></i>
                                    <button class="btn-xs btn btn-primary edit-button" ng-show="!vm.showNotShippedForm" ng-click="vm.showNotShippedForm = true;">Edit</button>
                                </div>

                                <div class="detail" ng-show="!vm.showNotShippedForm">
                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Reason</h3>
                                        <div class="number">{{vm.transaction.shipment.notShipped.reason ? vm.transaction.shipment.notShipped.reason : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Shipment Extension</h3>
                                        <div class="number">{{vm.transaction.shipment.notShipped.shipmentExtension ? (vm.transaction.shipment.notShipped.shipmentExtension | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>
                                </div>

                                <div class="form" ng-if="vm.showNotShippedForm">
                                    <form name="vm.notShippedForm" novalidate>


                                            <div class="col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="with-line">Shipment Extension</label>
                                                    <date-picker-input
                                                            date="vm.transaction.shipment.notShipped.shipmentExtension"
                                                            name="date">
                                                    </date-picker-input>
                                                </div>
                                            </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Reason</label>
                                                <textarea type="text"
                                                          rows="3"
                                                          class="form-control"
                                                          ng-model="vm.transaction.shipment.notShipped.reason"
                                                          placeholder="Reason for Not Shipped" />
                                            </div>
                                        </div>



                                        <div class="form-group">
                                                <button type="submit"
                                                        ng-click="vm.editNotShipped(vm.notShippedForm, vm.transaction.shipment.notShipped, vm.transactionId)"
                                                        class="btn btn-primary btn-with-icon save-profile">
                                                    <i class="ion-android-checkmark-circle"></i> Update Not Shipped Info
                                                </button>

                                                <button type="button"
                                                        ng-click="vm.cancelShipmentForm('showNotShippedForm')"
                                                        class="btn btn-danger btn-with-icon save-profile">
                                                    <i class="ion-android-cancel"></i>Cancel
                                                </button>
                                            </div>
                                    </form>
                                </div>

                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="button tab" ng-class="{'active': vm.transaction.shipment.approbationReceived.active }">
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.APPROBATION_RECEIVED, true, vm.transactionId)"
                                            ng-show="!vm.transaction.shipment.approbationReceived.active"
                                            class="btn btn-xs btn-success activate">Activate</button>
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.APPROBATION_RECEIVED, false, vm.transactionId)"
                                            ng-show="vm.transaction.shipment.approbationReceived.active"
                                            class="btn btn-xs btn-warning activate">Deactivate</button>
                                    Approbation Received
                                    &nbsp;<i class="fa fa-ship" aria-hidden="true"></i>

                                    <button class="btn-xs btn btn-primary edit-button" ng-show="!vm.showApprobationRecievedForm"
                                            ng-click="vm.showApprobationRecievedForm = true;">Edit</button>
                                </div>
                                <div class="detail" ng-show="!vm.showApprobationRecievedForm">
                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Expected Shipment</h3>
                                        <div class="number">{{vm.transaction.shipment.approbationReceived.expectedShipment ? (vm.transaction.shipment.approbationReceived.expectedShipment | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">In Transit</h3>
                                        <div class="number">{{vm.transaction.shipment.approbationReceived.inTransit ? (vm.transaction.shipment.approbationReceived.inTransit | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>
                                </div>

                                <div class="form" ng-if="vm.showApprobationRecievedForm">
                                    <form name="vm.approbationRecievedForm" novalidate>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Expected Shipment</label>
                                                <date-picker-input
                                                        blank="true"
                                                        date="vm.transaction.shipment.approbationReceived.expectedShipment"
                                                        name="date">
                                                </date-picker-input>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">In Transit</label>
                                                <date-picker-input
                                                        blank="true"
                                                        date="vm.transaction.shipment.approbationReceived.inTransit"
                                                        name="date">
                                                </date-picker-input>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <button type="submit"
                                                    ng-click="vm.editApprobationReceived(vm.approbationRecievedForm, vm.transaction.shipment.approbationReceived, vm.transactionId)"
                                                    class="btn btn-primary btn-with-icon save-profile">
                                                <i class="ion-android-checkmark-circle"></i> Update Approbation Recieved Info
                                            </button>

                                            <button type="button"
                                                    ng-click="vm.cancelShipmentForm('showApprobationRecievedForm')"
                                                    class="btn btn-danger btn-with-icon save-profile">
                                                <i class="ion-android-cancel"></i>Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="button tab" ng-class="{'active': vm.transaction.shipment.shipped.active }">
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.SHIPPED, true, vm.transactionId)"
                                            ng-show="!vm.transaction.shipment.shipped.active"
                                            class="btn btn-xs btn-success activate">Activate</button>
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.SHIPPED, false, vm.transactionId)"
                                            ng-show="vm.transaction.shipment.shipped.active"
                                            class="btn btn-xs btn-warning activate">Deactivate</button>
                                    Shipped
                                    <i class="fa fa-ship" aria-hidden="true"></i>
                                    <button
                                            ng-click="vm.showShippedForm = true;" ng-show="!vm.showShippedForm"
                                            class="btn-xs btn btn-primary edit-button">Edit</button>
                                </div>
                                <div class="detail" ng-show="!vm.showShippedForm">

                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Shipper</h3>
                                        <div class="number">{{vm.transaction.shipment.shipped.shipper ? (vm.transaction.shipment.shipped.shipper.name + ' - ' + vm.transaction.shipment.shipped.shipper.country ) : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Seller Invoice No.</h3>
                                        <div class="number">{{vm.transaction.shipment.shipped.sellerInvoiceNo ? ( vm.transaction.shipment.shipped.sellerInvoiceNo | uppercase) : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Invoice Amount <span class="titled">USD</span></h3>
                                        <div class="number">{{vm.transaction.shipment.shipped.sellerInvoiceAmount ? ( vm.transaction.shipment.shipped.sellerInvoiceAmount | number: '2') : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Date Shipped</h3>
                                        <div class="number">{{vm.transaction.shipment.shipped.shippedOn ? (vm.transaction.shipment.shipped.shippedOn | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Expected Arrival</h3>
                                        <div class="number">{{vm.transaction.shipment.shipped.expectedArrival ? (vm.transaction.shipment.shipped.expectedArrival | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Transit Ports</h3>
                                        <div class="port-transit" ng-if="vm.transaction.shipment.shipped.transitPorts.length===0">NA</div>
                                        <div class="port-transit" ng-if="vm.transaction.shipment.shipped.transitPorts.length!==0"
                                             ng-repeat="port in vm.transaction.shipment.shipped.transitPorts | orderBy : '-date'">{{port.lo_code + ' - ' + port.name + ' - ' + port.country + ' - ' + ( port.date | date: vm.appFormats.FullDate2)}}</div>
                                    </div>


                                    <div class="col-xs-12 col-md-6"></div>




                                </div>

                                <div class="form" ng-if="vm.showShippedForm">
                                    <form name="vm.shippedForm" novalidate>

                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Seller Invoice No.</label>
                                                <input
                                                        class="form-control"
                                                        placeholder="Seller Invoice No."
                                                        ng-model="vm.transaction.shipment.shipped.sellerInvoiceNo">
                                                </input>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Invoice Amount <span class="titled">USD</span></label>
                                                <input
                                                        class="form-control"
                                                        placeholder="Seller Invoice Amount"
                                                        ng-model="vm.transaction.shipment.shipped.sellerInvoiceAmount">
                                                </input>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Shipper</label>
                                                <selectize
                                                        placeholder="Shipper"
                                                        name="shipper"
                                                        id="shipper"
                                                        config="vm.shipperConfig"
                                                        options='vm.shipperOptions.list'
                                                        ng-model="vm.transaction.shipment.shipped.shipper.id">
                                                </selectize>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Date Shipped</label>
                                                <date-picker-input
                                                        blank="false"

                                                        date="vm.transaction.shipment.shipped.shippedOn"
                                                        name="date">
                                                </date-picker-input>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Expected Arrival</label>
                                                <date-picker-input
                                                        blank="false"

                                                        date="vm.transaction.shipment.shipped.expectedArrival"
                                                        name="date">
                                                </date-picker-input>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="with-line">Transit Ports</label>
                                                <tags-input ng-model="vm.transaction.shipment.shipped.transitPorts"
                                                            placeholder="Add a port"
                                                            template="port-tag-template"
                                                            key-property="id"
                                                            display-property="name"
                                                            text="name"
                                                            add-from-autocomplete-only="true"
                                                            add-on-paste="false">
                                                    <auto-complete
                                                            template="port-auto-complete-template"
                                                            source="vm.loadPorts($query)"></auto-complete>
                                                </tags-input>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <button type="submit"
                                                    ng-click="vm.editShipped(vm.shippedForm, vm.transaction.shipment.shipped, vm.transactionId)"
                                                    class="btn btn-primary btn-with-icon save-profile">
                                                <i class="ion-android-checkmark-circle"></i> Update Shipped Info
                                            </button>

                                            <button type="button"
                                                    ng-click="vm.cancelShipmentForm('showShippedForm')"
                                                    class="btn btn-danger btn-with-icon save-profile">
                                                <i class="ion-android-cancel"></i>Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="button tab" ng-class="{'active': vm.transaction.shipment.arrivedAtPort.active }">
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.ARRIVED_AT_PORT, true, vm.transactionId)"
                                            ng-show="!vm.transaction.shipment.arrivedAtPort.active"
                                            class="btn btn-xs btn-success activate">Activate</button>
                                    <button ng-click="vm.activateShipmentStatus(vm.shipmentStatus.ARRIVED_AT_PORT, false, vm.transactionId)"
                                            ng-show="vm.transaction.shipment.arrivedAtPort.active"
                                            class="btn btn-xs btn-warning activate">Deactivate</button>
                                    Arrived at Port
                                    &nbsp;<i class="fa fa-ship" aria-hidden="true"></i>
                                    <button ng-show="!vm.showArrivedAtPort"
                                            ng-click="vm.showArrivedAtPort=true;"
                                            class="btn-xs btn btn-primary edit-button">Edit</button>
                                </div>

                                <div class="detail"  ng-show="!vm.showArrivedAtPort">
                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">B/L No.</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.blNo ? vm.transaction.shipment.arrivedAtPort.blNo : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Date Arrived</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.dateArrived ? (vm.transaction.shipment.arrivedAtPort.dateArrived  | date: vm.appFormats.FullDate2) : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Quantity Shipped</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.quantityShipped ? (vm.transaction.shipment.arrivedAtPort.quantityShipped | number : '2') + ' MT' : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <h3 class="with-line">Shipping Line</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.shippingLine.id ? vm.transaction.shipment.arrivedAtPort.shippingLine.name : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <h3 class="with-line">Vessel No.</h3>
                                        <div class="number">{{(vm.transaction.shipment.arrivedAtPort.vessel.length > 0) ? (vm.transaction.shipment.arrivedAtPort.vessel[0].imo_number +' - ' + vm.transaction.shipment.arrivedAtPort.vessel[0].first_name) : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <h3 class="with-line">Voyage No.</h3>
                                        <div class="number">{{(vm.transaction.shipment.arrivedAtPort.voyageNo) ? vm.transaction.shipment.arrivedAtPort.voyageNo : 'NA'}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <h3 class="with-line">Containers <span class="count" ng-bind="vm.transaction.shipment.arrivedAtPort.containers.length"></span></h3>
                                        <div class="number" ng-if="vm.transaction.shipment.arrivedAtPort.containers.length===0">NA</div>
                                        <div class="port-transit" ng-if="vm.transaction.shipment.arrivedAtPort.containers.length!==0"
                                             ng-repeat="container in vm.transaction.shipment.arrivedAtPort.containers"> Container No. {{ container.containerNo}}</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Port of Loading</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.loadingPort.id ? (vm.transaction.shipment.arrivedAtPort.loadingPort.name + ', ' + vm.transaction.shipment.arrivedAtPort.loadingPort.country)  : 'NA'}}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="with-line">Port of Destination</h3>
                                        <div class="number">{{vm.transaction.shipment.arrivedAtPort.destinationPort.id ? (vm.transaction.shipment.arrivedAtPort.destinationPort.name + ', ' +  vm.transaction.shipment.arrivedAtPort.destinationPort.country) : 'NA'}}</div>
                                    </div>

                                </div>

                                <div class="form" ng-if="vm.showArrivedAtPort">
                                    <form name="vm.arrivedAtPortForm" novalidate>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">B/L No.</label>
                                                <input type="text"
                                                          rows="3"
                                                          class="form-control"
                                                          ng-model="vm.transaction.shipment.arrivedAtPort.blNo"
                                                          placeholder="Enter BL No." />
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Date Arrived</label>
                                                <date-picker-input
                                                        required="false"
                                                        blank="false"
                                                        date="vm.transaction.shipment.arrivedAtPort.dateArrived"
                                                        name="date">
                                                </date-picker-input>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Quantity Shipped <span class="titled">MT</span></label>
                                                <input type="text"
                                                       rows="3"
                                                       class="form-control"
                                                       ng-model="vm.transaction.shipment.arrivedAtPort.quantityShipped"
                                                       placeholder="Enter Quantity Shipped." />
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Shipping Line</label>
                                                <selectize
                                                        placeholder="Shipping Line"
                                                        config="vm.shippingLineConfig"
                                                        options='vm.shippingLineOptions.list'
                                                        ng-model="vm.transaction.shipment.arrivedAtPort.shippingLine.id">
                                                </selectize>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Port of Loading</label>
                                                <selectize
                                                        placeholder="Port of Loading"
                                                        config="vm.portConfig"
                                                        options='vm.portOptions.list'
                                                        ng-model="vm.transaction.shipment.arrivedAtPort.loadingPort.id">
                                                </selectize>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="with-line">Port of Destination</label>
                                                <selectize
                                                        placeholder="Port of Destination"
                                                        config="vm.portConfig"
                                                        options='vm.portOptions.list'
                                                        ng-model="vm.transaction.shipment.arrivedAtPort.destinationPort.id">
                                                </selectize>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="with-line">Vessel No.</label>
                                                <tags-input ng-model="vm.transaction.shipment.arrivedAtPort.vessel"
                                                            placeholder="Enter Vessel/Voyage No."
                                                            max-tags="1"
                                                            ng-class="{'has-tags': vm.transaction.shipment.arrivedAtPort.vessel.length>0}"
                                                            key-property="id"
                                                            display-property="imo_number"
                                                            text="imo_number"
                                                            template="vessel-tag-template"
                                                            add-from-autocomplete-only="true"
                                                            add-on-paste="false">
                                                    <auto-complete
                                                            template="vessel-auto-complete-template"
                                                            source="vm.loadVessel($query)"></auto-complete>
                                                </tags-input>

                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="with-line">Voyage No.</label>
                                                <input type="text"
                                                       rows="3"

                                                       class="form-control"
                                                       ng-model="vm.transaction.shipment.arrivedAtPort.voyageNo"
                                                       placeholder="Enter Voyage No." />

                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="with-line">Container No.</label>
                                                <tags-input ng-model="vm.transaction.shipment.arrivedAtPort.containers"
                                                            display-property="containerNo"
                                                            placeholder="Enter Container No."
                                                            add-on-paste="true">
                                                </tags-input>

                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <button type="submit"
                                                    ng-click="vm.editArrivedAtPort(vm.arrivedAtPortForm, vm.transaction.shipment.arrivedAtPort, vm.transaction, vm.transactionId)"
                                                    class="btn btn-primary btn-with-icon save-profile">
                                                <i class="ion-android-checkmark-circle"></i> Update Arrived At Port Info
                                            </button>

                                            <button type="button"
                                                    ng-click="vm.cancelShipmentForm('showArrivedAtPort')"
                                                    class="btn btn-danger btn-with-icon save-profile">
                                                <i class="ion-android-cancel"></i>Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Notes</h3>
                    <div class="row" >
                        <div class="col-xs-12 col-md-6">
                            <div ba-panel ba-panel-class="with-scroll" class="noteList">
                                <img ng-if="noteListLoading" width="60" height="60" src="assets/img/loader.svg" />
                                <div ng-if="!noteListLoading && (vm.transaction.notes.length === 0)">No trade notes.</div>
                                <div class="col-xs-12"  ng-repeat="nte in vm.transaction.notes | orderBy: '-createdAt'">
                                    <div class="col-xs-6 note"
                                         ng-class="{'pull-right':nte.self, 'self':nte.self, 'other': !nte.self, 'editing': nte.editing}">
                                        <div class="col-xs-12 userData">
                                            <img class="userImage" ng-src="{{( nte.createdByPic | profilePicture )}}">
                                            <div class="details">
                                                <div class="name">{{nte.createdBy}}</div>
                                                <div class="date">Note on: {{nte.createdAt | date:appFormats.Time }}</div>
                                                <div class="date" ng-if="nte.updatedAt">Note Updated On: {{nte.updatedAt | date:appFormats.Time }}</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12">{{nte.note}}</div>
                                        <div class="col-xs-12 button-bar">
                                            <button class="btn btn-danger btn-xs pull-right" ng-if="nte.self" ng-click="vm.editTradeNote(nte.note, nte)">Edit</button>
                                            <button class="btn btn-warning btn-xs pull-right" ng-click="vm.deleteTradeNote(vm.transactionId, nte.noteId, nte, vm.transaction.notes)" ng-if="nte.isDeleteAble">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group col-md-12 clearfix">
                                <form name="vm.trade_note_form" novalidate>
                                    <label class="col-sm-12 control-label">Notes</label>
                                    <div class="col-sm-12">
                                                <textarea ng-if="!addingNote"
                                                          ng-required="true"
                                                          name="tradeNote"
                                                          ng-model="vm.noteText"
                                                          class="form-control">
                                                </textarea>
                                        <ng-messages for="vm['trade_note_form_'+row.id]['tradeNote_'+row.id].$error"
                                                     ng-if='(vm["trade_note_form_"+row.id].$submitted || vm["trade_note_form_"+row.id]["tradeNote_"+row.id].$dirty)'>
                                            <div ng-message="required" class="errorValidation">Please enter a trade note.</div>
                                        </ng-messages>
                                    </div>
                                    <div class="col-sm-12">
                                        </br>
                                        <button class="btn btn-success editable-table-button btn-xs"
                                                type="submit"
                                                style="min-width: 115px;"
                                                ng-click="vm.addTradeNote(vm.transactionId, vm.noteText, vm.transaction.notes, vm.trade_note_form)">
                                                <span ng-if="addingNote">
                                                    <i class="fa fa-spinner fa-pulse fa-spin fa-3x fa-fw"></i>
                                                    <span class="sr-only">Loading...</span>                                                    &nbsp;
                                                </span>

                                            <span ng-if="!vm.addingNote && !vm.updateNote">Add Note</span>
                                            <span ng-if="vm.updateNote">Update Note</span>
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Change Logs</h3>
                    <div class="row">
                        <div class="horizontal-scroll">
                            <table class="table table-striped" st-table="smartTableData">
                                <thead>
                                <tr class="sortable table-header">
                                    <th><span class="count">{{vm.transaction.changeLogs.length}}</span></th>
                                    <th>Log Time</th>
                                    <th>Change By</th>
                                    <th>Log</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="log in vm.transaction.changeLogs">
                                    <td></td>
                                    <td ng-bind=" log.changeTime | date:vm.appFormats.Time"></td>
                                    <td ng-bind="log.changeByUserName"></td>
                                    <td ng-bind-html="log.description"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<script type="text/ng-template" id="vessel-tag-template">
    <div class="tag-template">
        <div class="right-panel">
            <span class="titled">{{$getDisplayText()}}</span>
            <span>{{data.first_name}}</span>
            <span>{{data.mmsi_number ? data.mmsi_number : 'NA' }}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vessel-auto-complete-template">
    <div class="autocomplete-template">
        <div class="right-panel">
            <span class="titled" ng-bind-html="$highlight($getDisplayText())"></span>
            <span>{{data.first_name}}</span>
            <span>{{data.mmsi_number ? data.mmsi_number : 'NA' }}</span>
        </div>
    </div>
</script>



<script type="text/ng-template" id="port-tag-template">
    <div class="tag-template">
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <span>{{data.lo_code}}</span>
            <span>{{data.country}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="port-auto-complete-template">
    <div class="autocomplete-template">
        <div class="right-panel">
            <span class="titled">{{data.lo_code}}</span>
            <span>{{data.name}}</span>
            <span>{{data.country}}</span>
        </div>
    </div>
</script>

