
<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Bank Details Information</label>
        <label class="pull-right" ng-show="!vm.showBankDetailForm">
            <i ng-click="vm.addBankDetails()" class="fa fa-plus-circle orangeFont"></i>
        </label>
        <label class="pull-right cursor-pointer" ng-click="vm.showBpBankDet = !vm.showBpBankDet">
            <span ng-bind="vm.businessPartner.bank.length + ' Bank Detail(s)'"></span>
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showBpBankDet,'fa-chevron-circle-right':!vm.showBpBankDet}"></i>
        </label>
    </div>

    <div ng-show="vm.showBpBankDet && !vm.showBankDetailForm" class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <label ng-click="vm.addBankDetails()" class="cursor-pointer pull-right">
                    <i class="fa fa-plus-circle orangeFont"></i>
                    &nbsp;&nbsp;Add New Bank Details
                </label>
            </div>
        </div>
    </div>

    <page-blue-container ng-show="vm.showBankDetailForm && vm.showBpBankDet" class="col-lg-12" >
        <form ng-show="vm.showBankDetailForm" name="vm.bankDetailsForm" novalidate>
            <div class="col-lg-12 innerHeading">
                <label>New Bank Details</label>
                <button type="button" ng-click="vm.subBankDetails()" class="cursor-pointer pull-right transparentButton" ng-if="vm.showBankDetailForm">
                    &nbsp;&nbsp;
                    <i class="fa fa-times-circle redFont"></i>
                    &nbsp;&nbsp;Cancel
                </button>
                <button  type="submit" ng-click="vm.saveBankDetails()" class="cursor-pointer pull-right border-right-gray transparentButton" ng-if="vm.showBankDetailForm">
                    <i class="fa fa-database blueFont"></i>
                    &nbsp;&nbsp;Save&nbsp;&nbsp;
                </button>
            </div>



            <div class="row">
                <div class="form-group col-xs-6">
                    <label>Account Title</label>
                    <input class="form-control" type="text" name="accountTitle"
                           ng-disabled="vm.viewMode" ng-required="true"
                           placeholder='Please enter account title of bank account'
                           ng-pattern="/^[a-zA-Z. ]+$/"
                           ng-model="vm.businessPartner.newBankDetails.accountTitle"/>
                    <div ng-messages='vm.bankDetailsForm.accountTitle.$error'
                         ng-if='vm.bankDetailsForm.accountTitle.$dirty || vm.bankDetailsForm.$submitted'>
                        <div class="errorValidation" ng-message="required">Account title is required</div>
                        <div class="errorValidation" ng-message="pattern">Invalid account title</div>
                    </div>
                </div>

                <div class="form-group col-xs-6">
                    <label>Account Number</label>
                    <input class="form-control" type="text" name="accountNumber"
                           ng-disabled="vm.viewMode"
                           placeholder='Please enter account number of bank account'
                           ng-model="vm.businessPartner.newBankDetails.accountNumber"/>
                    <div ng-messages='vm.bankDetailsForm.accountNumber.$error'
                         ng-if='vm.bankDetailsForm.accountNumber.$dirty || vm.bankDetailsForm.$submitted'>
                        <div class="errorValidation" ng-message="required">Account Number is required</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-lg-6">
                    <label>Country of Bank Account</label>
                    <selectize name="accountCountry" ng-required="true"
                               placeholder='Please enter country of bank account'
                               config="vm.singleConfig"
                               ng-model="vm.businessPartner.newBankDetails.accountCountry">
                    </selectize>
                    <ng-messages for="vm.bankDetailsForm.accountCountry.$error"
                                 ng-if='vm.bankDetailsForm.accountCountry.$dirty || vm.bankDetailsForm.$submitted'>
                        <div ng-message="required" class="errorValidation">Country of Bank Account is required</div>
                    </ng-messages>
                </div>

                <div class="form-group col-xs-6">
                    <label>Bank Name</label>
                    <input class="form-control" type="text" name="bankName"
                           ng-disabled="vm.viewMode" ng-required="true"
                           placeholder='Please enter bank name'
                           ng-model="vm.businessPartner.newBankDetails.bankName"/>
                    <div ng-messages='vm.bankDetailsForm.bankName.$error'
                         ng-if='vm.bankDetailsForm.bankName.$dirty || vm.bankDetailsForm.$submitted'>
                        <div class="errorValidation" ng-message="required">Bank Name is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <label>Branch Address and Details</label>
                    <textarea  rows="3" class="col-xs-12"
                               name="branchAddress"
                               placeholder="Add bank branch and other details here.. "
                               ng-model="vm.businessPartner.newBankDetails.branchAddress">
                    </textarea>
                </div>
            </div>
        </form>
    </page-blue-container>

    <div class="col-lg-12" ng-show="vm.showBpBankDet && (vm.businessPartner.bank.length > 0)" >
        <div class="dg-tablePanelBody">
            <table class="table table-bordered dg-table">
                <thead>
                <tr>
                    <th>Account Title</th>
                    <th>Account Number</th>
                    <th class="dropDownCol">Bank Name</th>
                    <th>Origin</th>
                    <th class="dropDownCol">Branch Address & Details</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bank in vm.businessPartner.bank | orderBy: 'accountTitle' track by $index">
                    <td ng-bind="bank.accountTitle"></td>
                    <td ng-bind="bank.accountNumber ? bank.accountNumber : 'N/A' "></td>
                    <td ng-bind="bank.bankName"></td>
                    <td ng-bind="bank.accountCountry"></td>
                    <td ng-bind="bank.branchAddress ? bank.branchAddress : 'Not Entered' "></td>
                    <td>
                        <label ng-click="vm.deleteBusinessPartnerBankDetails(vm.businessPartner.gen[0].bp_Name, bank.accountTitle, bank.accountNumber, bank.bankDetails_ID, $index)" class="cursor-pointer border-right-gray">
                            <i class="fa fa-trash-o redFont"></i>
                            Delete&nbsp;&nbsp;
                        </label>
                        <label  ng-click="vm.editBusinessPartnerBankDetails($index)" class="cursor-pointer ">&nbsp;&nbsp;Edit
                            <i class="fa fa-edit orangeFont"></i>&nbsp;&nbsp;
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
