
<div class="row">
    <div class="col-md-12">
        <h3 class="with-line">Transaction Information
            <button type="button" ng-if="vm.transaction.basic.productItemId" ng-click="vm.changeProductSpecs()" class="btn pull-right btn-xs btn-success">Change Product Specs</button>
        </h3>
        <div class="row wizard-containers">
            <div class="row">
                <div class="form-group col-md-4 clearfix">
                    <label class="with-line control-label">Date</label>
                    <div class="">
                        <date-picker-input date="vm.transaction.basic.date" name="date">
                        </date-picker-input>
                        <ng-messages for="vm.transactionForm.date.$error"
                                     ng-show='(vm.transactionForm.$submitted && vm.transactionForm.date.$invalid) ||
                                            (vm.transactionForm.date.$invalid && vm.transactionForm.date.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter transaction date.</ng-message>
                        </ng-messages>
                    </div>
                </div>
                <div class="form-group col-md-4 clearfix">
                    <label for="buyer" class=" with-line control-label">Buyer</label>
                    <div class="">
                        <selectize
                                ng-required="true"
                                placeholder="Buyer"
                                name="buyer"
                                id="buyer"
                                ng-change="vm.transaction.basic.contractualBuyerId = (vm.transaction.basic.contractualBuyerId) ? (vm.transaction.basic.contractualBuyerId) : vm.transaction.basic.buyerId"
                                config="vm.buyerConfig"
                                options='vm.buyerOptions.list'
                                ng-model="vm.transaction.basic.buyerId">
                        </selectize>
                        <ng-messages for="vm.transactionForm.buyer.$error"
                                     ng-if='(vm.transactionForm.$submitted || vm.transactionForm.buyer.$dirty)'>
                            <div ng-message="required" class="errorValidation">Please select Buyer</div>
                        </ng-messages>
                    </div>
                </div>
                <div class="form-group col-md-4 clearfix">
                    <label for="seller" class="with-line control-label">Seller</label>
                    <div class="">
                        <selectize
                                placeholder="Seller"
                                ng-required="true"
                                name="seller"
                                id="seller"
                                config="vm.sellerConfig"
                                options='vm.sellerOptions.list'
                                ng-model="vm.transaction.basic.sellerId">
                        </selectize>
                        <ng-messages for="vm.transactionForm.seller.$error"
                                     ng-if='(vm.transactionForm.$submitted && vm.transactionForm.seller.$invalid) ||
                                            (vm.transactionForm.seller.$invalid && vm.transactionForm.seller.$dirty)'>
                            <div ng-message="required" class="errorValidation">Please select seller.</div>
                        </ng-messages>
                    </div>
                </div>
                <div class="form-group col-md-4 clearfix">
                    <label for="productItem" class="control-label with-line">Product Item</label>
                    <div class="">
                        <selectize
                                ng-required="true"
                                name="productItem"
                                id="productItem"
                                config="vm.productItemConfig"
                                options='vm.productItemOptions.list'
                                ng-model="vm.transaction.basic.productItemId">
                        </selectize>
                        <ng-messages for="vm.transactionForm.productItem.$error"
                                     ng-if='(vm.transactionForm.$submitted && vm.transactionForm.productItem.$invalid) ||
                                            (vm.transactionForm.productItem.$invalid && vm.transactionForm.productItem.$dirty)'>
                            <div ng-message="required" class="errorValidation">Please enter product item.</div>
                        </ng-messages>
                    </div>
                </div>
                <div class="form-group col-md-4 clearfix">
                    <label for="productItem" class="with-line control-label">Contractual</label>
                    <div class="">
                        <selectize
                                ng-required="true"
                                placeholder="Contractual Buyer"
                                name="contractbuyer"
                                id="contractbuyer"
                                config="vm.buyerConfig"
                                options='vm.buyerOptions.list'
                                ng-model="vm.transaction.basic.contractualBuyerId">
                        </selectize>
                        <ng-messages for="vm.transactionForm.contractbuyer.$error"
                                     ng-if='(vm.transactionForm.$submitted || vm.transactionForm.contractbuyer.$dirty)'>
                            <div ng-message="required" class="errorValidation">Please enter contractual buyer.</div>
                        </ng-messages>

                    </div>
                </div>

                <div class="form-group col-md-4  clearfix">
                    <label class="with-line control-label">Packaging</label>
                    <div class="">
                        <selectize
                                placeholder="Packaging"
                                ng-required="true"
                                name="packaging"
                                id="packaging"
                                config="vm.packagingConfig"
                                options='vm.packagingOptions.list'
                                ng-model="vm.transaction.basic.packagingId">
                        </selectize>
                        <ng-messages for="vm.transactionForm.packaging.$error"
                                     ng-show='(vm.transactionForm.$submitted && vm.transactionForm.packaging.$invalid) ||
                                            (vm.transactionForm.packaging.$invalid && vm.transactionForm.packaging.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter product packaging.</ng-message>
                        </ng-messages>
                    </div>
                </div>



                <!--<div class="form-group col-md-4  clearfix">-->
                    <!--<label for="quantityMetric" class="col-sm-3 control-label">Quantity Metric</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<selectize-->
                                <!--ng-required="true"-->
                                <!--placeholder="Quantity Metric"-->
                                <!--name="quantityMetric"-->
                                <!--id="quantityMetric"-->
                                <!--config="vm.quantityMetricConfig"-->
                                <!--options='vm.quantityMetricOptions.list'-->
                                <!--ng-model="vm.transaction.basic.quantityMetricId">-->
                        <!--</selectize>-->
                        <!--<ng-messages for="vm.transactionForm.quantityMetric.$error"-->
                                     <!--ng-if='(vm.transactionForm.$submitted && vm.transactionForm.quantityMetric.$invalid) ||-->
                                            <!--(vm.transactionForm.quantityMetric.$invalid && vm.transactionForm.quantityMetric.$dirty)'>-->
                            <!--<div ng-message="required" class="errorValidation">Please enter quantity metric.</div>-->
                        <!--</ng-messages>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group col-md-4 clearfix ">
                    <label class="with-line control-label">Quantity <span class="titled">FCL</span></label>
                    <div class="">
                        <input
                                required
                                ng-pattern="/^[0-9.]+$/i"
                                ng-model="vm.transaction.basic.quantityFcl"
                                class="form-control"
                                name="quantityFCL"
                                placeholder="Quantity in FCL"/>

                        <ng-messages for="vm.transactionForm.quantityFCL.$error"
                                     ng-show='(vm.transactionForm.$submitted || vm.transactionForm.quantityFCL.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter quantity in FCL.</ng-message>
                            <ng-message class="errorValidation" when="pattern">Quantity in FCL can only have numbers.</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group col-md-4 clearfix">
                    <label class="with-line control-label">Quantity <span class="titled">MT</span></label>
                    <div class="">
                        <input
                                required
                                ng-pattern="/^[0-9.]+$/i"
                                ng-model="vm.transaction.basic.quantity"
                                class="form-control"
                                name="quantity"
                                placeholder="Quantity in MT"/>

                        <ng-messages for="vm.transactionForm.quantity.$error"
                                     ng-show='(vm.transactionForm.$submitted || vm.transactionForm.quantity.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter quantity value.</ng-message>
                            <ng-message class="errorValidation" when="pattern">Quantity can only have numbers.</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group col-md-4  clearfix">
                    <label class="with-line">Price <span class="titled">US$ / MT</span></label>
                    <div class="">
                        <input
                                required
                                ng-pattern="/^[0-9.]+$/i"
                                ng-model="vm.transaction.basic.price"
                                class="form-control"
                                name="price"
                                placeholder="Price US$ / {{vm.transaction.basic.quantityMetricId ?  vm.transaction.basic.quantityMetricId : 'MT'}}"/>

                        <ng-messages for="vm.transactionForm.price.$error"
                                     ng-show='(vm.transactionForm.$submitted && vm.transactionForm.price.$invalid) ||
                                            (vm.transactionForm.price.$invalid && vm.transactionForm.price.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter price value.</ng-message>
                            <ng-message class="errorValidation" when="pattern">Price can only have numbers.</ng-message>
                        </ng-messages>
                    </div>
                </div>


                <div class="col-md-2">
                    <label class="with-line control-label">Primary Transaction File ID</label>
                    <selectize
                            allowEmptyOption = "true"
                            placeholder="Primary Transaction"
                            ng-required="true"
                            config="vm.primaryFileConfig"
                            options='vm.primaryFileOptions.list'
                            ng-model="vm.transaction.basic.primaryTransaction">
                    </selectize>
                </div>


                <div class="col-md-2">
                    <label class="with-line control-label">Primary Shipment File Id</label>
                    <selectize
                            allowEmptyOption = "true"
                            placeholder="Primary Shipment"
                            ng-required="true"
                            config="vm.partialShipConfig"
                            options='vm.partialShipOptions.list'
                            ng-model="vm.transaction.basic.primaryShipment">
                    </selectize>
                </div>

                <div class="form-group col-md-4">
                    <label class="with-line control-label">File ID</label>
                    <div class="">
                        <input
                                required
                                ng-model="vm.transaction.basic.fileId"
                                class="form-control"
                                name="fileId"
                                placeholder="File Id"/>

                        <ng-messages for="vm.transactionForm.fileId.$error"
                                     ng-show='(vm.transactionForm.$submitted || vm.transactionForm.fileId.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter a valid file Id.</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group col-md-4  clearfix">
                    <label class="with-line control-label">Contract ID</label>
                    <div class="">
                        <input
                                ng-model="vm.transaction.basic.contractId"
                                class="form-control"
                                name="contractId"
                                placeholder="Contract Id"/>
                    </div>
                </div>


                <div class="form-group col-md-4 col-md-offset-4 clearfix">
                    <label class="with-line control-label">Shipment Start</label>
                    <div class="">
                        <date-picker-input date="vm.transaction.basic.shipmentStart" name="shipmentStart">

                        </date-picker-input>

                        <ng-messages for="vm.transactionForm.shipmentStart.$error"
                                     ng-show='(vm.transactionForm.$submitted || vm.transactionForm.shipmentStart.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter shipment start date.</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group col-md-4 clearfix">
                    <label class=" with-line control-label">Shipment End</label>
                    <div class="">
                        <date-picker-input date="vm.transaction.basic.shipmentEnd" name="shipmentEnd">

                        </date-picker-input>

                        <ng-messages for="vm.transactionForm.shipmentEnd.$error"
                                     ng-show='(vm.transactionForm.$submitted || vm.transactionForm.shipmentEnd.$dirty)' role="alert">
                            <ng-message class="errorValidation" when="required">Please enter shipment start date.</ng-message>
                        </ng-messages>
                    </div>
                </div>




                <div class="form-group col-md-12 clearfix">
                    <label class="with-line control-label">Other Information</label>
                    <div class="">
                            <textarea
                                    ng-model="vm.transaction.basic.otherInfo"
                                    class="form-control">

                            </textarea>

                    </div>
                </div>
            </div>
        </div>
        <div class="row wizard-containers">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>