<form name="vm.basicInfoForm" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="row wizard-containers">
                <div class="col-xs-12 insideForm-heading">Role in Transaction</div>
                <div class="col-xs-12">
                    <div class="row wizard-radio">
                        <div class="col-md-3">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tranRole"  value="Buyer">
                                <span class="radio-title">Buyer</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tranRole" value="Broker">
                                <span class="radio-title">Broker</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tranRole" value="Seller">
                                <span class="radio-title">Seller</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tranRole" value="Shipper">
                                <span class="radio-title">Shipper</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wizard-containers">
                <div class="col-xs-12 insideForm-heading"></div>
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>

</form>