<div class="modal-content">

    <div class="modal-header">
        <h3 class="with-line">Product Specification</h3>
    </div>

    <div class="modal-body">
        <div class="row productSpecs">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <div ng-repeat="spec in productSpecs" class="slider-box col-sm-12 col-md-4">
                        <h5 ng-bind="spec.name"></h5>
                        <input
                                style="margin-top: 25px;"
                                class="form-control"
                                ng-model="spec.value"
                                ng-if="spec.type=='text'"/>
                        <ion-slider
                                ng-if="spec.type=='percentage'"
                                type="single"
                                grid="true"
                                from="spec.value"
                                ng-model="spec.value"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                        </ion-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="button"
                class="btn btn-primary"
                ng-click="saveSpecs(productSpecs)">Done</button>
    </div>

</div>

