<form name="vm.productInfoForm" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="row wizard-containers">
                <h3 class="with-line">Product Specification</h3>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Moisture</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.moisture"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Purity</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.purity"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Foreign Matter</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.foreignMatter"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Broken Splits</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.brokenSplits"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Damaged</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.damaged"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Green Damaged</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.greenDamaged"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Weevilied</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.weevilied"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Other Color</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.otherColor"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
                <div class="slider-box col-sm-12 col-md-4">
                    <h5>Wrinkled</h5>
                    <ion-slider type="single"
                                grid="true"
                                ng-model="vm.transaction.productSpecification.wrinkled"
                                min="0"
                                max="100"
                                prefix="%"
                                from="0"
                                disable="false">
                    </ion-slider>
                </div>
            </div>
        </div>
    </div>
</form>