<div class="row">
    <div class="col-md-12">
        <div ba-panel>
            <div class="panel-content">
                <div class="row warehouse-details">

                    <div class="col-xs-12 col-md-12">
                        <h3 class="with-line">
                            <button style="margin-left: 10px"
                                    ng-click="vm.changeCurrentWarehouseRent(vm.warehouseObj.id, vm.onrentSaveCallBack)"
                                    class="btn btn-xs btn-primary pull-right">{{(vm.warehouseObj.rentList.length===0) ? 'Add Current Rent' : 'Change Current Rent'}}</button>
                            <button
                                    ng-click="vm.editWarehouseDetails(vm.warehouseObj.id)"
                                    class="btn btn-xs btn-success pull-right">Edit</button>

                        </h3>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Warehouse Name</h3>
                        <div ng-bind="vm.warehouseObj.name"></div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Total Capacity</h3>
                        <div ng-bind="vm.warehouseObj.totalCapacity" class="number"></div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Consumed Capacity <span class="titled">Kgs</span></h3>
                        <div ng-bind="vm.warehouseObj.consumedCapacity" class="number"></div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Own Warehouse</h3>
                        <div></div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Current Rent per <span class="titled">Kgs</span> per  <span class="titled">Month</span></h3>
                        <div ng-bind="vm.warehouseObj.rentPer50Kg" class="number"></div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <h3 class="with-line">Address</h3>
                        <div ng-bind="vm.warehouseObj.address" class="number"></div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <h3 class="with-line">Contact Details</h3>
                        <div ng-bind="vm.warehouseObj.contact" class="number"></div>
                    </div>

                </div>
                <div class="row warehouse-rent-details" ng-if="vm.warehouseObj.rentList.length!==0">
                    <div class="col-xs-12 col-md-2">
                        <h3 class="with-line">Warehouse Rent Details</h3>
                        <div></div>
                    </div>

                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr class="sortable table-header">
                                    <th>Rent Applicable Till</th>
                                    <th>Rent Applicable From</th>
                                    <th>Rent Per Kg Per Month <span ng-bind="vm.warehouseObj.rentCurrency"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in vm.warehouseObj.rentList | orderBy:'-dateChange'">
                                <td class="titled" ng-bind="row.dateEnd ? (row.dateEnd  | date:vm.appFormats.Date) : 'Present'"></td>
                                <td class="titled" ng-bind="row.dateChange  | date:vm.appFormats.Date"></td>

                                <td class="titled" ng-bind="row.rent | number : '2'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-12">
                        <button ng-click="vm.backToWarehouseList()" class="btn btn-primary">Back to Warehouse List</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>