<div class="col-sm-3" off-click="closeFilter();">
  <div class="dg-filterDropdown">
        <div class="dg-filterDropdownField" ng-click="invertShowOptions();">
            <i class="fa fa-filter">&nbsp;&nbsp;</i>{{title}}
            <span class="caret"></span>
            <span class="pull-right filter-count" ng-bind="selectedValues.length"></span>
        </div>
        <div class="dg-filterDropdownMenu" id="main-menu{{title}}" ng-show="showOptions">
            <ul class="dg-head">
                <li ng-show="dropDownValues.length !== 0">
                    <input type="checkbox"  ng-click="onSelectAll(selectAll)" ng-model="selectAll">
                    <span class="dg-value">
                        <input ng-model="textFilter" type="text" class="form-control">
                    </span>
                </li>
                <li ng-show="dropDownValues.length === 0">
                    <span class="dg-value">No value has been entered in to the system</span>
                </li>
            </ul>
            <ul ng-scrollbars>
                <li ng-repeat="value in dropDownValues | selectFilterDropDown:  textFilter:'name' | orderBy: 'name'"  ng-if="filterType==='product'">
                    <input ng-init="value.selected = true" ng-change="onSingleSelectChange(value,value.selected,'id')" type="checkbox" ng-model="value.selected">
                    <span class="dg-value filterHeading">{{value.name}}</span>
                    <span class="dg-value">{{value.origin}} | {{value.quality}}</span>
                </li>
                <li ng-repeat="value in dropDownValues | selectFilterDropDown:  textFilter:'origin_name'  | orderBy: 'origin_name'" ng-if="(filterType==='country')">
                    <input ng-init="value.selected = true" ng-change="onSingleSelectChange(value,value.selected,'origin_name')" type="checkbox" ng-model="value.selected">
                    <span class="dg-value filterHeading">{{value.origin_name}}</span>
                </li>
                <li ng-repeat="value in dropDownValues | selectFilterDropDown:  textFilter:'text' | orderBy: 'value'" ng-if="(filterType==='tranStatus')">
                    <input ng-init="value.selected = true" ng-change="onSingleSelectChange(value,value.selected,'text')" type="checkbox" ng-model="value.selected">
                    <span class="dg-value singleFilterHeading">{{value.text}}</span>
                </li>
                <li ng-repeat="value in dropDownValues | selectFilterDropDown:  textFilter:'name' | orderBy: 'name'" ng-if="(filterType==='bpTypes')">
                    <input ng-init="value.selected = true" ng-change="onSingleSelectChange(value,value.selected,'name')" type="checkbox" ng-model="value.selected">
                    <span class="dg-value singleFilterHeading">{{value.name}}</span>
                </li>
                <li ng-repeat="value in dropDownValues | selectFilterDropDown:  textFilter:'bp_Name' | orderBy: 'bp_Name' "
                    ng-if="(filterType==='shipper')||(filterType==='broker')||(filterType==='buyer')||(filterType==='seller')">
                    <input ng-init="value.selected = true" ng-change="onSingleSelectChange(value,value.selected,'bp_ID')"  type="checkbox" ng-model="value.selected">
                    <span class="dg-value filterHeading">{{value.bp_Name}}</span>
                    <span class="dg-value">{{value.bp_country}} | {{value.bp_Cont_fullName ? value.bp_Cont_fullName : 'No Primary Contact'  }}</span>
                </li>
            </ul>
        </div>
  </div>
</div>