<div class="row">
    <div class="col-md-6 marginBottom10px">
        <button class="btn btn-primary" data-toggle="modal"
                ng-click="vm.goToShippingPorts('dashboard.shipping.ports')">
            Shipping Ports
        </button>

        <button class="btn btn-primary" data-toggle="modal"
                ng-click="vm.goToShippingPorts('dashboard.shipping.ports')">
            Shipping Lines
        </button>

        <button class="btn btn-primary" data-toggle="modal"
                ng-click="vm.goToShippingPorts('dashboard.shipping.ports')">
            Shipment Vessel
        </button>
    </div>
</div>


<div ba-panel>
    <div>Shipping</div>
</div>