<div class="col-md-6" ba-panel ba-panel-title="All Vessels ({{vm.vesselList.length}})">

    <div class="searchFormContainer">
        <form name="vm.vesselSearch" novalidate>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">

                        <h3 class="with-line" for="vesselName">Search Type</h3>
                        <selectize
                                name="searchType"
                                config="vm.searchTypeConfig"
                                options='vm.searchOptions'
                                ng-model="vm.searchObj.queryType">
                        </selectize>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <h3 class="with-line" for="vesselName">Search Query</h3>
                        <input autocomplete="false"
                               type="text"
                               class="form-control"
                               id="vesselName"
                               name="vesselName"
                               placeholder="Vessel Query"
                               ng-model="vm.searchObj.query" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="vm.getVesselList(vm.searchObj)">Search Vessel</button>
                    <button class="btn btn-danger">Clear</button>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="col-md-12" ng-if="vm.vesselList.length>0">
    <div ba-panel ba-panel-title="All Vessels">

        <vessel-card ng-repeat="vessel in vm.vesselList"
        col-size="4"
        vessel="vessel">
        </vessel-card>
    </div>

</div>