.tradeDashboard{
 .trade-count{
   .item{

     .chart{
       text-align: center;
       padding-left: 30px;
       .percent{
         top: 30px;
         position: absolute;
         font-weight: bolder;
         font-size: 18px;
         left: 15px;
         width: 100%;
         text-align: center;
         &:after{
           content:' %'
         }
       }

     }
     .description{


       padding: 0px 0 0 30px;

       text-align: center;

       .title{
         padding-top: 3px;
         font-size: 12px;
         color: $sidebar-text;
         font-weight: $font-bold;
         line-height: 25px;

       }

       .description-stats{
         font-size: 50px;
         font-weight: $font-bold;
         &.info{
           color: $info
         }
         &.primary{
           color: $primary;
         }
         &.danger{
           color: $danger;
         }
         &.success{
           color: $success;
         }
         &.warning{
           color: $warning;
         }

       }
     }
   }
 }
 .number-count{
   .description{
     font-size: 12px;
     padding: 0px 0 0 30px;
     .title{
       padding-top: 3px;
       text-align: center;
       color: $sidebar-text;
       font-weight: $font-bold;
     }
     .big-number{
       font-size: 50px;
       text-align: center;
       color:$sidebar-text;
       font-weight: $font-ultraBold;
     }
     .button-row{
       text-align: center;
     }
   }
 }
}