.expected-commission{

  .commission-title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .commission-value{
    font-size: 22px;
    .minus{
      color: $warning;
    }
    .plus{
      color: $success;
    }
  }
}

.productSpecs{
  padding-bottom: 20px;
  h5{
    margin-top: 10px;
  }
}


.detail-heading{
  font-size: 15px;
  color: $success;
  border-bottom: 1px solid $border-light;
  padding-bottom: 3px;
  font-weight: bold;
}