.warehouseCard{
  margin-top: 10px;
  margin-bottom: 10px;
  .content{
    box-shadow: 0px 0.5px 0px 1px $my-gray-2;
    padding: 20px 10px;
    border-radius: 3px;
    position: relative;
    background: 0;

    .badge-custom {
      min-width: 112px;
      padding: 0 10px;
      height: 20px;
      position: absolute;
      text-align: center;
      top: 0;
      left: 10px;
      color: #FFF;
      border-radius: 3px 3px 0 0;
      z-index: 4;
      .badge-text {
        color: #FFF !important;
        font: 700 11px/16px "PT Sans", sans-serif;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        &:after{
          background: $primary;
          position: absolute;
          right: -6px;
          top: 4px;
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 4px;
          z-index: -1;
          transform: rotate(67deg)
        }
      }
    }

    .name{
      text-align: center;
      font-size: 16px;
      font-weight: $font-bold;
      padding-bottom: 5px;
    }

    .section-row{
      border-top: 1px solid $border-light;
      text-align: center;
      .section{
        padding: 0;
        .heading{
          color: $danger;
          padding-top: 5px;
          text-align: center;
        }
        .number{
          font-size: 24px;
          color: $primary;
        }
      }
    }



    .button-row{
      text-align: center;
      .btn{
        width: 80%;
      }
    }
  }




}