.datePickerInput{
  position: relative;
  .input-group-btn{
    position: absolute;
    top: 0px;
    right: 35px;

    .btn-success{
      background: $primary;
      border: none;
    }

    .dropdown-menu {
      margin: 100px !important;
    }

    //.btn{
    //  background: $danger !important;
    //}
  }

  .uib-datepicker-popup{
    background: $body-bg;
  }

}