.dg-datePicker{
  cursor: pointer;
  padding: 10px 0px;

  .dg-filterDropdown{
    background: red;
    border: 1px solid $sidebar !important;
    background:$sidebar !important;
    box-shadow: 0.5px 0.5px 0.5px 1px $my-gray-2 !important;
    padding: 5px 25px 5px 35px;
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: $default-text !important;
  }
  &:after{
    font-family: 'FontAwesome';
    position: absolute;
    color: $primary;
    content: "\f0d7";
    top: 20px;
    z-index: 10;
    right: 40px;
  }
  &:before{
    font-family: 'FontAwesome';
    color: $primary;
    position: absolute;
    left: 28px;
    content: "\f073";
    top: 20px;
    z-index: 10;
  }
}




.dg-filterPanel{
  height: auto;
  //padding: 5px;
  //margin-bottom: 10px;
  border-radius: 5px;
  //background: $auth-panel-background;
  //border: 1px solid $sidebar;
  //box-shadow: 0px 0.5px 0px 1px $sidebar ;
  .dg-filterDropdown{
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    .dg-filterDropdownField{
      border: 1px solid $my-gray-2;
      box-shadow: 0px 0.5px 0px 1px $my-gray-2;
      padding:5px 25px 5px 12px;
      position: relative;
      border-radius:5px;
      font-weight: 600;
      background: $sidebar; /* Old browsers */
      .filter-count{
        padding: 1px 7px 1px 7px;
        border-radius: 2px;
        background: $danger;
        color: $sidebar-text;
        .fa-pulse{
          font-size: 9px;
        }


      }
      .fa-filter{
        color: $primary;
      }
      .caret{
        display: block;
        position: absolute;
        right: 9px;
        top: 11px;
        color: $primary;
      }
    }
    .dg-filterDropdownMenu{
      background:$sidebar;
      box-shadow: 0px 0.5px 0px 1px $my-gray-2;
      border:1px solid $my-gray-2;
      border-radius:5px;
      position: relative;
      top: 100%;
      left: 0;
      width:100%;
      min-width:160px;
      padding:10px;
      margin-top:5px;
      z-index: 1;
      ul{
        margin:0;
        padding:0;
        list-style: none;
        height: 150px;
        li{
          .filterHeading{
            font-size: 12px;
            font-weight: 800;
          }
          margin:0;
          padding:5px;
          overflow: hidden;
          //border-bottom:1px solid $primary;

          //.dg-value{
          //  float: left;
          //  margin-left: 20px;
          //  &.titled{
          //    font-weight: $font-ultraBold;
          //  }
          //
          //}
          //
          //.dg-value:after {
          //  content:"";
          //  position: absolute;
          //  bottom: 0;
          //  left: 0;
          //  right: 0;
          //  height: 0.5em;
          //  border-top: 1px solid $primary;
          //  z-index: -1;
          //}

          input[type="checkbox"]{
            display:block;
            float:left;
          }
          span{
            margin-left:30px;
            display:block;
            line-height: 15px;
            font-size:12px;
          }
        }
        &.dg-head{
          height:auto;
          margin-bottom: 10px;
          li{
            background: $sidebar;
            .form-control, .form-control:focus{
              height: 20px;
              color: #ffffff;
              border: 1px solid #2f2f2f;
              border-radius: 5px;
              background-color: rgba(47, 47, 47, 0.74) !important;
              box-shadow: none;
              background:url('../../assets/img/icons/search-mini-icon.png') no-repeat right center ;
              padding:4px 22px 4px 12px;
            }
          }
        }
      }
    }
  }
}


/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

/*.daterangepicker .ranges .range_inputs>div:nth-child(2) {*/
/*padding-left: 11px;*/
/*}*/

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
  display: block;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #2F2F2F 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  border: 1px solid #2F2F2F;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 100%;
  background: #2F2F2F;
  color: #fff;
  background-border: 1px solid $primary;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #2F2F2F;
  border: 1px solid #2F2F2F;
  color: #fff;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: $primary;
  border: 1px solid $primary;
  color: #fff;
}

.daterangepicker .calendar-date {
  border: 1px solid #2F2F2F;
  padding: 4px;
  border-radius: 4px;
  background: #2F2F2F;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: $sidebar;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #181818;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #181818;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.openscenter:before {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.openscenter:after {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.2);
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #181818;
}

.daterangepicker td.in-range {
  background: #181818;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.start-date {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #760f1d;
  border-color: #760f1d;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
  width: 100%;
}

.daterangepicker_end_input {
  float: left;
  width: 100%;
}

.daterangepicker th.month {
  width: auto;
}









