<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Business Partner Products</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showBpProducts = !vm.showBpProducts">
            <span ng-bind="vm.bpProducts.length + ' Product'"></span>
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showBpProducts,'fa-chevron-circle-right':!vm.showBpProducts}"></i>
        </label>
    </div>

    <div class="col-lg-12" ng-if="vm.showBpProducts">
        <div class="row">
            <div class="col-lg-12">
                <label ng-if="vm.currentlyAdding">Select Product</label>
                <label ng-click="vm.addNewProduct()" class="cursor-pointer pull-right" ng-if="!vm.addingProduct">
                    <i class="fa fa-plus-circle orangeFont"></i>
                    &nbsp;&nbsp;Add New Product
                </label>
            </div>
        </div>
    </div>

    <div class="col-lg-12"  ng-if="vm.showBpProducts">
        <div class="dg-tablePanelBody">
            <table class="table table-bordered dg-table">
                <thead>
                <tr ng-show="(vm.bpProducts.length >  0) || vm.addingProduct">
                    <th>Products</th>
                    <th class="actions">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in vm.bpProducts">
                    <td>
                        <selectize ng-disabled="true"
                                   config="vm.productConfig"
                                   options='vm.productList'
                                   ng-model="product.prod_ID">
                        </selectize>
                    </td>
                    <td>
                        <label ng-click="vm.deleteBpProduct(product.prod_ID,$index)" class="cursor-pointer">
                            <i class="fa fa-trash-o redFont"></i>
                            Delete
                        </label>
                    </td>
                </tr>
                <tr ng-show="vm.addingProduct">
                    <td>
                        <selectize ng-disabled="false"
                                   config="vm.productConfig"
                                   options='vm.productList'
                                   placeholder="Select New Product"
                                   ng-model="vm.newProduct">
                        </selectize>
                    </td>
                    <td>
                        <label ng-click="vm.saveBpProduct(vm.newProduct)" class="cursor-pointer">
                            <i class="fa fa-database blueFont"></i>
                            &nbsp;&nbsp;Save&nbsp;&nbsp;
                        </label>
                        <label ng-click="vm.cancel()" class="cursor-pointer">
                            <i class="fa fa-times-circle redFont"></i>
                            &nbsp;&nbsp;Cancel
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
