<div>
    <div class="panel-content">

        <form name="vm.changePassword">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <label>Old Password</label>
                        <input name="oldPassword"
                               type="password"
                               ng-model-options="{ updateOn: 'default blur' }"
                               ng-model="vm.passwordDetails.oldPassword"
                               class="form-control"
                               onCopy="return false"
                               onDrag="return false"
                               onDrop="return false"
                               onPaste="return false"
                               placeholder="{{vm.inputFields.OldPassword.placeholder}}"
                               ng-required="true"/>
                        <ng-messages for='vm.changePassword.oldPassword.$error' ng-if='vm.changePassword.oldPassword.$dirty || vm.changePassword.$submitted'>
                            <div ng-message="required" class="errorValidation">{{::vm.inputFields.OldPassword.errorValidations.required}}</div>
                        </ng-messages>
                    </div>
                </div>
                </br>
                <div class="container">
                    <div class="col-md-12">

                        <label>New Password</label>
                        <input name="newPassword"
                               type="password"
                               ng-model-options="{ updateOn: 'default blur' }"
                               ng-model="vm.passwordDetails.newPassword"
                               ng-pattern="/^(?=^.{8,32}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$/"
                               ng-minlength="{{vm.inputFields.NewPassword.minLength}}"
                               ng-maxlength="{{vm.inputFields.NewPassword.maxLength}}"
                               class="form-control"
                               onCopy="return false"
                               onDrag="return false"
                               onDrop="return false"
                               onPaste="return false"
                               placeholder="{{vm.inputFields.NewPassword.placeholder}}"
                               ng-required="true"/>
                        <ng-messages for='vm.changePassword.newPassword.$error' ng-if='vm.changePassword.newPassword.$dirty || vm.changePassword.$submitted'>
                            <div ng-message="required" class="errorValidation">{{::vm.inputFields.NewPassword.errorValidations.required}}</div>
                            <div class="errorValidation" ng-message="pattern">{{::vm.inputFields.NewPassword.errorValidations.pattern}}</div>
                        </ng-messages>

                    </div>
                </div>
                </br>
                <div class="container">
                    <div class="col-md-12">
                        <label>Confirm Password</label>
                        <input name="confirmPassword"
                               type="password"
                               ng-model-options="{ updateOn: 'default blur' }"
                               ng-model="vm.passwordDetails.confirmPassword"
                               class="form-control"
                               onCopy="return false"
                               onDrag="return false"
                               onDrop="return false"
                               onPaste="return false"
                               ui-validate=" '$value===vm.changePassword.newPassword.$viewValue' "
                               ui-validate-watch=" 'vm.passwordDetails.newPassword' "
                               placeholder="{{vm.inputFields.ConfirmPassword.placeholder}}"
                               ng-required="true"/>
                        <ng-messages for='vm.changePassword.confirmPassword.$error' ng-if='vm.changePassword.confirmPassword.$dirty || vm.changePassword.$submitted'>
                            <div ng-message="required" class="errorValidation">{{::vm.inputFields.ConfirmPassword.errorValidations.required}}</div>
                            <div class="errorValidation" ng-message="validator">{{::vm.inputFields.ConfirmPassword.errorValidations.validator}}</div>
                        </ng-messages>
                    </div>
                </div>
                </br>
                <div class="container">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" ng-click="vm.changePasswordSubmit(vm.changePassword, vm.passwordDetails)"
                                    class="btn btn-primary">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>