<div class="row">
    <!--<div class="col-md-12"-->
         <!--ba-panel-->
         <!--ba-panel-title="Add New Business Partner Type"-->
         <!--ba-panel-class="with-scroll">-->
        <!--<div>-->
            <!--<form class="row form-inline" name="transactionStatus">-->
                <!--<div class="form-group col-sm-6 col-xs-6">-->
                    <!--<input type="text" class="form-control" ng-model="vm.name" id="exampleInputName2" placeholder="Name">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary"-->
                        <!--ng-click="vm.addDropDown(vm.apiEndPoints.businessType, vm.name)">Add</button>-->
                <!--<button type="submit" class="btn btn-default">Clear</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <div class="col-md-6 marginBottom10px">
        <button class="btn btn-primary" data-toggle="modal"
                ng-click="vm.openAddDropDownModal('Add New ' + vm.title,vm.endPoint, vm.page, 'md', vm.modalController)">
            Add New {{vm.title}}
        </button>
    </div>

    <div class="col-md-12">

        <div ba-panel
             ba-panel-title="All {{vm.title}}" ba-panel-class="with-scroll">
            <div class="horizontal-scroll">
                <table class="table" st-table="smartTableData">
                    <thead>
                    <tr class="sortable table-header" ng-if="vm.list.length!==0">
                        <th>Drop Down Value</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated By</th>
                        <th>Updated On</th>
                    </tr>
                    <tr class="table-header" ng-if="vm.list.length===0">
                        <th>No values have been added.</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.list">
                            <td ng-bind="row.name"></td>
                            <td ng-bind="row.createdBy"></td>
                            <td ng-bind="row.createdAt | date:vm.appFormats.Date"></td>
                            <td>{{(!row.updatedBy) && 'Not Updated' || row.updatedBy}}</td>
                            <td>{{(!row.updatedOn) && 'Not Updated' || (row.updatedOn | date:vm.appFormats.Date)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


