<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary"  ng-click="vm.goToWebsiteBlogs()">
            Website Blogs
        </button>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-12" ba-panel ba-panel-class="medium-panel" >
        <button class="col-md-offset-3 col-md-6 btn btn-success" ng-if="!vm.dashboardData.googleAnalyticsConnected"
                ng-click="vm.connectGoogleAnalytics()">
            Connect with Google Analytics to create website dashboard
        </button>

        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-7 col-xs-12"
             ba-panel
             ba-panel-title="Container FCL"
             ba-panel-class="medium-panel">
            <line-chart chart-data="vm.graphData"></line-chart>
        </div>

    </div>


</div>