$default: rgba(#000000, 0.2);
$body-bg: #BCC6CC;
$default-text: #bebebe;
$help-text: #bebebe;
$label-text: #2C3E50;

$disabled: #dddddd;
$disabled-bg: transparent;
$border: rgba(0, 0, 0, 0.12);
$border-light: rgba(#ffffff, 0.2);
$input-border: transparent;
$input-background: rgba(rgba(0, 0, 0, 0.18), 0.10);

$sidebar: #1f2023;
$sidebar-text: #dee4e8;
$dropdown-text: #b5bbbf;
$bootstrap-panel-text: #dee4e8;
$bootstrap-panel-bg: #ffffff;
$gray-text: #303131;
$mail-box: whitesmoke;
$drop-down-hover:rgba(84, 88, 91, 0.3);
$auth-panel-background: rgba(#000000, 0.55);
$progress-background: rgba(#000000, 0.15);
$progress-default: #ffffff;
$gray: #3b3736;
$excel: #217346;
$pdf: #FF0000;

$negative: #FF0000;
$positive: #9acd32;
$my-gray: rgba(46, 46, 46, 0.00);
$my-gray-2: rgba(0, 0, 0, 0.69);
$primary: #009688 !default;
$info:  #FF5733 !default;
$success: #4392aa !default;
$warning: #C70039 !default;
$danger: #6A6A6A !default;

$primary-trans: rgba(0, 150, 136, 0.4) !default
$info-trans : rgba(255, 87, 51, 0.4) !default;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);



