<page-header heading="{{vm.businessPartner.gen[0].bp_Name}}"
             sub-heading="Information for" back="true"
             xmlns="http://www.w3.org/1999/html">
</page-header>
<page-blue-container>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12  marginLeft15">
                <div class="col-lg-12 tableHeading">
                    <label>Basic Information</label>
                    <label ng-if="vm.tran !== 'new'"  ng-click="vm.deleteBusinessPartner(vm.businessPartner.gen[0].bp_Name,vm.businessPartner.gen[0].bp_ID)" class="pull-right cursor-pointer">Delete Complete Business Partner&nbsp;&nbsp;
                        <i class="redFont fa fa-trash-o"></i>
                    </label>
                </div>
                <div class="clearfix">
                    <div  class="col-lg-12">
                        <label ng-click="vm.editBusinessPartnerBasic()" class="cursor-pointer pull-right ">
                            &nbsp;&nbsp;Edit&nbsp;&nbsp;<i class="fa fa-edit orangeFont"></i>
                        </label>

                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>Business Partner</label>
                    <p ng-bind="vm.businessPartner.gen[0].bp_Name"></p>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>Credibility Rating</label>
                    <p>{{vm.businessPartner.gen[0].bp_credibilityIndex}} / 5</p>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>On Doni Contract</label>
                    <p ng-if="vm.businessPartner.gen[0].bp_onDoniContract">Yes</p>
                    <p ng-if="!vm.businessPartner.gen[0].bp_onDoniContract">No</p>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>Role</label>
                    <p>
                        <span ng-if="vm.businessPartner.gen[0].bp_isBuyer">&nbsp;<i class="fa fa-tag"></i>&nbsp;Buyer</span>
                        <span ng-if="vm.businessPartner.gen[0].bp_isSeller">&nbsp;<i class="fa fa-tag"></i>&nbsp;Seller</span>
                        <span ng-if="vm.businessPartner.gen[0].bp_isShipper">&nbsp;<i class="fa fa-tag"></i>&nbsp;Shipper</span>
                        <span ng-if="vm.businessPartner.gen[0].bp_isBroker">&nbsp;<i class="fa fa-tag"></i>&nbsp;Broker</span>
                    </p>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>Origin</label>
                    <p ng-bind="vm.businessPartner.gen[0].bp_country"></p>
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    <label>Website</label>
                    <p ng-if="vm.businessPartner.gen[0].bp_website"><a href="#"  ng-bind="vm.businessPartner.gen[0].bp_website"></a></p>
                    <p ng-if="!vm.businessPartner.gen[0].bp_website">Not Entered</p>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label>Address</label>
                    <p ng-if="vm.businessPartner.gen[0].bp_address" ng-bind="vm.businessPartner.gen[0].bp_address"></p>
                    <p ng-if="!vm.businessPartner.gen[0].bp_address">Not Entered</p>
                </div>
            </div>

            <div ui-view="bpProducts"></div>

            <div ui-view="bpContactNumbers"></div>

            <div ui-view="bpContactPersons"></div>

            <div ui-view="bpBankDetails"></div>

            <div class="form-group col-xs-12">
                <div>
                    <button class="btn btn-default pull-left" ui-sref="^">Back</button>
                </div>
            </div>
        </div>
    </div>
</page-blue-container>