x
<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Contact Information</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showbpContactNumbers = !vm.showbpContactNumbers">
            <span ng-bind="vm.businessPartner.contNum.length + ' Contact Number'"></span>
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showbpContactNumbers,'fa-chevron-circle-right':!vm.showbpContactNumbers}"></i>
        </label>
        <!--<label class="pull-right" ng-if="!vm.showContactForm">-->
            <!--<i ng-click="vm.addContactNumber()" class="fa fa-plus-circle orangeFont"></i>-->
        <!--</label>-->
    </div>

    <div class="col-lg-12" ng-if="vm.showbpContactNumbers">
        <div class="row">
            <div class="col-lg-12">
                <label ng-if="vm.addingContactNumber">Add Contact Number</label>
                <label ng-click="vm.addContactNumber()" class="cursor-pointer pull-right" ng-if="!vm.addingContactNumber">
                    <i class="fa fa-plus-circle orangeFont"></i>
                    &nbsp;&nbsp;Add New Contact Number
                </label>
            </div>
        </div>
    </div>

    <div class="col-lg-12"  ng-if="vm.showbpContactNumbers">
        <div class="dg-tablePanelBody">
            <table class="table table-bordered dg-table">
                <thead>
                <tr ng-show="(vm.businessPartner.contNum.length >  0) || vm.addingContactNumber">
                    <th>Contact Number</th>
                    <th>Contact Type</th>
                    <th class="actions">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cont in vm.businessPartner.contNum">
                    <td ng-bind="cont.contactNumber"></td>
                    <td ng-bind="cont.contactType"></td>
                    <td>
                        <label ng-click="vm.deleteBusinessPartnerContactNumber(vm.businessPartner.gen[0].bp_Name, cont.contactNumber, cont.contactType, cont.ph_ID, $index)"
                               class="cursor-pointer">
                            <i class="fa fa-trash-o redFont"></i>
                            Delete
                        </label>
                    </td>
                </tr>
                <tr ng-show="vm.addingContactNumber">
                    <form name="vm.addContactNumberForm" novalidate>
                    <td>
                        <input class="form-control" type="text" name="contactNumber"
                               ng-disabled="vm.viewMode" ng-required="true"
                               placeholder='021-123-1456'
                               ng-pattern="/^([0-9\(\)\/\+ \-]*)$/"
                               ng-model="vm.businessPartner.newContactNumber.contactNumber"/>
                        <div ng-messages='vm.addContactNumberForm.contactNumber.$error'
                             ng-if='vm.addContactNumberForm.contactNumber.$dirty || vm.addContactNumberForm.$submitted'>
                            <div class="errorValidation" ng-message="required">Contact Number is required</div>
                            <div class="errorValidation" ng-message="pattern">Invalid Contact Number</div>
                        </div>
                    </td>
                    <td>
                        <selectize name="contactType" ng-required="true" placeholder='Please enter contact Type' config="vm.contactTypeConfig" ng-model="vm.businessPartner.newContactNumber.contactType"></selectize>
                        <ng-messages for="vm.addContactNumberForm.contactType.$error" ng-if='vm.addContactNumberForm.contactType.$dirty || vm.addContactNumberForm.$submitted'>
                            <div ng-message="required" class="errorValidation">Contact Type is required</div>
                        </ng-messages>
                    </td>
                    <td>
                        <label ng-click="vm.saveContactNumber()" class="cursor-pointer">
                            <i class="fa fa-database blueFont"></i>
                            &nbsp;&nbsp;Save&nbsp;&nbsp;
                        </label>
                        <label ng-click="vm.subContactNumber()" class="cursor-pointer">
                            <i class="fa fa-times-circle redFont"></i>
                            &nbsp;&nbsp;Cancel
                        </label>
                    </td>
                    </form>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
