<div class="row">

    <div class="col-lg-4">

        <div ba-panel class="col-lg-12 col-xs-12 currency-exchange-card">
            <div class="sparkLine">
                <spark-line chart-data="vm.completeReport.usdExchange.sevenDays">
                </spark-line>
            </div>
            <div class="details">
                <div class="heading">USD Exchange Rate</div>
                <div class="card-refresh"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                <div class="value cursor-pointer"  ng-click="vm.goToCurrencyDashboard('USD', 'PKR')">
                    <div class="currency" ng-bind="vm.completeReport.usdExchange.outCurrency"></div>
                    <div class="rate" ng-bind="vm.completeReport.usdExchange.currentValue | number: 2"></div>
                    <div class="change">
                        <i class="fa" ng-class="{'fa-caret-up': vm.completeReport.usdExchange.change>0,
                     'fa-caret-down': vm.completeReport.usdExchange.change<0}"></i>
                        <div class="change-rate" ng-bind="(vm.completeReport.usdExchange.change  | number: 2)+ ' %'"></div>
                    </div>
                    <div class="last-update" ng-bind="vm.completeReport.usdExchange.lastUpdate | date: vm.appFormat.date"></div>
                </div>
            </div>
        </div>



        <div ba-panel class="col-lg-12"  ng-if="vm.allArrived.length>0">
            <div class="panel-content" style="height: 300px; overflow-y: scroll">
            <div class="feed-messages-container" ui-sref="dashboard.transactionView({id:trade.fileId})"

                 track-width="smallContainerWidth" min-width="360" ng-repeat="trade in  vm.allArrived">
                <div class="feed-message">
                    <div class="message-icon">
                        <img class="photo-icon" ng-src="assets/img/theme/icon/kameleon/Bell.svg">
                    </div>
                    <div class="text-block text-message">
                        <div class="message-header">
                            <span class="author">{{ ::trade.fileId }} {{ ::trade.contractId}}</span>
                        </div>
                        <div class="message-content line-clamp">
                            <span ng-if="message.preview">{{trade.fileId}} </span> Arrived At Port But Not Yet Updated in the System
                        </div>
                    </div>
                </div>
            </div>
                </div>
        </div>

        </br>

        <div ba-panel class="col-lg-12 col-xs-12 single-number-card" ba-panel-title="Last 24 Hours Price Updates">
            <div class="panel-content">
                <div class="single-number col-xs-12" ng-bind="vm.completeReport.priceUpdate.count"></div>
                <div class="last-update-time col-xs-12">Last Updated: {{vm.completeReport.priceUpdate.lastUpdate | date: vm.appFormat.DBDate}}</div>
            </div>
        </div>

        <div ba-panel class="col-lg-12 col-xs-12 manifest-item-updates" ba-panel-title="Last 24 Hours Manifest Updates">
            <div class="panel-content row">
                <div class="col-lg-3 col-xs-12 row">
                    <div class="single-number" ng-bind="vm.completeReport.manifestUpdate.count"></div>
                </div>
                <div class="col-lg-9 col-xs-12 row">
                    <div class="heading col-lg-12">Top Three Data Entry</div>
                    <div class="col-lg-12 no-data" ng-if="vm.completeReport.manifestUpdate.topThreeContributors.length === 0">
                        No manifest data has been entered in last 24 hours.
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <div class="col-xs-12 col-lg-4 contributor-card" ng-repeat="contrib in vm.completeReport.manifestUpdate.topThreeContributors">
                            <div class="col-xs-12 number" ng-bind="contrib.updates"></div>
                            <div class="col-xs-12 username" ng-bind="contrib.username"></div>
                            <div class="col-xs-12 last-update-time">Last Updated: {{contrib.lastUpdate | date: vm.appFormat.DBDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-8">
        <div ba-panel ba-panel-title="All Trackable Expected Shipments ({{vm.shipmentTracking.length}}) " class="viewport100">
            <div id="leaflet-map"></div>
        </div>
    </div>

</div>







