
<main class="auth-main">
  <div class="auth-block">
    <div class="auth-header">
      <img src="../../assets/img/favicon-32x32.png">
      <h2>Sign in to Doni & Company</h2>
    </div>

    <!--<a href="reg.html" class="auth-link">New to Blur Admin? Sign up!</a>-->

    <form class="form-horizontal" name="vm.signIn" novalidate>
      <div class="form-group">

        <div class="col-sm-12">
          <input type="text" ng-model="vm.username" name="username"
                 class="form-control" required id="inputEmail3" placeholder="Username">
          <ng-messages for="vm.signIn.username.$error"
                       ng-if='(vm.signIn.$submitted && vm.signIn.username.$invalid) ||
                       (vm.signIn.username.$dirty && vm.signIn.username.$invalid)'>
            <div ng-message="required" class="errorValidation">Please enter your username.</div>
          </ng-messages>
        </div>
      </div>
      <div class="form-group">

        <div class="col-sm-12">
          <input type="password" ng-model="vm.password"
                 class="form-control" required name="password"
                 id="inputPassword3" placeholder="Password">
          <ng-messages for="vm.signIn.password.$error"
                       ng-if='(vm.signIn.$submitted && vm.signIn.password.$invalid) ||
                        (vm.signIn.password.$invalid && vm.signIn.password.$dirty)'>
            <div ng-message="required" class="errorValidation">Please enter your password.</div>
          </ng-messages>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-auth" ng-click="vm.login(vm.signIn, vm.username, vm.password)">Sign in</button>
          <a href class="forgot-pass">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>
</main>