<div class="row">
    <div class="col-md-12 marginBottom10px">
        <button class="btn btn-primary"  ng-click="vm.createWatsappCopy(vm.transaction)">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> &nbsp;Copy for Whatsapp
        </button>
    </div>
</div>

<div class="col-md-12 transactionView">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">

        <div class="row transactionNo">
            <div class="col-xs-12 col-md-12">
                </br>
                <button class="btn btn-xs btn-success pull-right" ng-click="vm.editTransactionDetails(vm.transaction.fileId)">Edit</button>
            </div>

            <div class="col-xs-12 col-md-2">
                <h3 class="with-line">Transaction Date</h3>
                <div ng-bind="vm.transaction.date | date: vm.appFormats.FullDate2" class="number"></div>
            </div>
            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">File No</h3>
                <div ng-bind="vm.transaction.fileId" class="number"></div>
            </div>
            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Contract No</h3>
                <div class="number" ng-bind="vm.transaction.contractId ? vm.transaction.contractId : 'NA'"></div>
            </div>

            <div class="col-xs-12 col-md-2">
                <h3 class="with-line">Price  <span class="titled">USD</span></h3>
                <div ng-bind="vm.transaction.price | number: '2'" class="number"></div>
            </div>

            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Quantity <span class="titled">FCL</span></h3>
                <div ng-bind="vm.transaction.quantityFCL  | number: '2'" class="number"></div>
            </div>

            <div class="col-xs-12 col-md-1">
                <h3 class="with-line">Quantity <span class="titled">MT</span></h3>
                <div ng-bind="vm.transaction.quantity  | number: '2'" class="number"></div>
            </div>



            <div class="col-xs-12 col-md-2">
                <h3 class="with-line">Delivery Due Date</h3>
                <div class="number">{{vm.transaction.deliveryDueDate | date: vm.appFormats.FullDate2}}</div>
            </div>


            <div class="col-xs-12 col-md-2">
                <h3 class="with-line">Funds Due Date</h3>
                <div class="number">{{vm.transaction.fundsDueDate | date: vm.appFormats.FullDate2}}</div>
            </div>


            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Buyer</h3>
                <div class="countryFlag">
                    <div class="flag">
                        <img ng-if="vm.transaction.buyer.countryFlag"
                             width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.buyer.countryFlag}}">
                        <img ng-if="!vm.transaction.buyer.countryFlag"
                             width="45" height="45" src="{{vm.transaction.buyer.countryFlag | countryLogo}}">
                    </div>

                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.buyer.name}}</div>
                    <div class="name">{{vm.transaction.buyer.country}}</div>
                </div>
            </div>


            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Seller</h3>
                <div class="countryFlag">
                    <img ng-if="vm.transaction.seller.countryFlag"
                         width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.seller.countryFlag}}">
                    <img ng-if="!vm.transaction.seller.countryFlag"
                         width="45" height="45" src="{{vm.transaction.seller.countryFlag | countryLogo}}">
                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.seller.name}}</div>
                    <div class="name">{{vm.transaction.seller.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Product</h3>
                <div class="countryFlag">
                    <div class="flag"><img width="45" height="45" src="{{vm.appConstants.HOST  + '/' +vm.transaction.productItem.countryFlag}}"></div>
                </div>
                <div class="details">
                    <div class="number">{{vm.transaction.productItem.name}}</div>
                    <div class="name">{{vm.transaction.productItem.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Buyer Broker</h3>
                <div class="number number-space" ng-if="!vm.transaction.commission.buyerBroker">NA</div>
                <div class="countryFlag" ng-if="vm.transaction.commission.buyerBroker">
                    <div class="flag">
                        <img ng-if="vm.transaction.commission.buyerBroker.countryFlag"
                             width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.commission.buyerBroker.countryFlag}}">
                        <img ng-if="!vm.transaction.commission.buyerBroker.countryFlag"
                             width="45" height="45" src="{{vm.transaction.commission.buyerBroker.countryFlag | countryLogo}}">
                    </div>
                </div>
                <div class="details" ng-if="vm.transaction.commission.buyerBroker">
                    <div class="number">{{vm.transaction.commission.buyerBroker.name}}</div>
                    <div class="name">{{vm.transaction.commission.buyerBroker.country}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2 height-120px">
                <h3 class="with-line">Seller Broker</h3>
                <div class="number-space number" ng-if="!vm.transaction.commission.sellerBroker">NA</div>
                <div class="countryFlag"  ng-if="vm.transaction.commission.sellerBroker">
                    <img ng-if="vm.transaction.commission.buyerBroker.countryFlag"
                         width="45" height="45" src="{{vm.appConstants.STATIC_URL  + '/' +vm.transaction.commission.sellerBroker.countryFlag}}">
                    <img ng-if="!vm.transaction.commission.buyerBroker.countryFlag"
                         width="45" height="45" src="{{vm.transaction.commission.sellerBroker.countryFlag | countryLogo}}">
                </div>
                <div class="details" ng-if="vm.transaction.commission.sellerBroker">
                    <div class="number">{{vm.transaction.commission.sellerBroker.name}}</div>
                    <div class="name">{{vm.transaction.commission.sellerBroker.country}}</div>
                </div>
            </div>








            <div class="col-xs-12 col-md-4">
                <h3 class="with-line">Status</h3>
                <div class="number pull-right" style="float:left;" ng-if="vm.transaction.completeObj.isComplete">{{vm.transaction.completeObj.completionDate | date: vm.appFormats.FullDate2}}</div>
                <button class="btn btn-xs"
                        ng-class="{'btn-danger':!vm.transaction.completeObj.isComplete, 'btn-primary':vm.transaction.completeObj.isComplete}"
                        ng-click="vm.changeCompleteStatus(vm.transactionId.completeObj, vm.transactionId)">Complete</button>
            </div>


            <div class="col-xs-12 col-md-4">
                <h3 class="with-line">Associated Local Trade</h3>
                <div></div>
            </div>

            <div class="col-xs-12 col-md-4">
                <h3 class="with-line">Associated Internation Trades</h3>
                <div></div>
            </div>

            <div class="col-xs-12 col-md-4" ng-if="vm.transaction.onOurContract">
                <h3 class="with-line">Invoice</h3>
                <button class="btn btn-xs btn-success pull-left cursor-pointer"
                        ng-click="vm.goToInvoice(vm.transaction.fileNo, vm.transaction.invoice.invoiceNo)" ng-if="vm.transaction.invoice">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Invoice No:{{ vm.transaction.invoice.invoiceNo}}
                </button>
                <div class="number pull-right" ng-if="vm.transaction.invoice"><span class="titled" ng-bind="vm.transaction.businessCurrency"></span> {{vm.transaction.invoice.invoiceAmount}}</div>
                <button ng-if="vm.transaction.invoiceCreation" class="btn btn-xs btn-success"  ng-click="vm.createTransactionInvoice(vm.transaction.fileNo)">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Create Invoice
                </button>
            </div>

            <div class="col-md-12 col-md-12">
                <h3 class="with-line">Other Information</h3>
                <div class="number" ng-bind="vm.transaction.otherInfo ? vm.transaction.otherInfo : 'NA'"></div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="with-line">Payments <button class="btn btn-xs btn-success"
                                                       ng-click="vm.addLocalPayment(vm.transaction.fileId)">Add New</button></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <local-trade-delivery>
                </local-trade-delivery>
            </div>

            <div class="col-md-4 col-xs-12">
                <local-trade-payment>
                </local-trade-payment>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Transaction Documents
                        <button class="btn btn-xs btn-success" ng-click="vm.addNewDocument()"> Add New</button>
                    </h3>
                    <div ng-show="vm.addingDocument" class="row">

                        <div class="col-lg-12">
                            <div class="form-group col-lg-4  col-xs-12">
                                <label>Document Name</label>
                                <input class="form-control" ng-model="vm.newDocumentName" type="text"/>
                                <br/>
                                <button class="btn btn-success btn-xs"
                                        type="file"
                                        ngf-select="vm.uploadTradeDocument($file, $invalidFiles)"
                                        accept="*">
                                    <i class="fa fa-upload"></i> Upload
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="horizontal-scroll">
                            <table class="table table-striped" st-table="smartTableData">
                                <thead>
                                <tr class="sortable table-header" ng-if="vm.transaction.files.length!==0">
                                    <th><span class="count">{{vm.transaction.files.length}}</span></th>
                                    <th>Document Name</th>
                                    <th>Uploaded By</th>
                                    <th>Uploaded At</th>
                                    <th>Actions</th>
                                </tr>
                                <tr class="table-header" ng-if="vm.transaction.files.length===0">
                                    <th>No Documents have been added for this transaction.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doc in vm.transaction.files">
                                    <td></td>
                                    <td ng-bind="doc.fileName"></td>
                                    <td ng-bind="doc.uploadedBy"></td>
                                    <td ng-bind="doc.uploadedAt | date: vm.appFormats.date"></td>
                                    <td>
                                        <div class="buttons">
                                            <!--<button class="btn btn-success editable-table-button btn-xs"-->
                                            <!--ng-click="vm.openTradeDoc(row.fileId)">Open</button>-->
                                            <button class="btn btn-primary editable-table-button btn-xs"
                                                    ng-click="vm.downloadTradeDoc(doc.fileId, doc.fileName, doc.extension)">Download</button>
                                            <button class="btn btn-warning editable-table-button btn-xs"
                                                    ng-click="vm.deleteTradeDoc(doc.fileId)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Notes</h3>
                    <div class="row" >
                        <div class="col-xs-12 col-md-6">
                            <div ba-panel ba-panel-class="with-scroll" class="noteList">
                                <img ng-if="noteListLoading" width="60" height="60" src="assets/img/loader.svg" />
                                <div ng-if="!noteListLoading && (vm.transaction.notes.length === 0)">No trade notes.</div>
                                <div class="col-xs-12"  ng-repeat="nte in vm.transaction.notes | orderBy: '-createdAt'">
                                    <div class="col-xs-6 note"
                                         ng-class="{'pull-right':nte.self, 'self':nte.self, 'other': !nte.self, 'editing': nte.editing}">
                                        <div class="col-xs-12 userData">
                                            <img class="userImage" ng-src="{{( nte.createdByPic | profilePicture )}}">
                                            <div class="details">
                                                <div class="name">{{nte.createdBy}}</div>
                                                <div class="date">Note on: {{nte.createdAt | date:appFormats.Time }}</div>
                                                <div class="date" ng-if="nte.updatedAt">Note Updated On: {{nte.updatedAt | date:appFormats.Time }}</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12">{{nte.note}}</div>
                                        <div class="col-xs-12 button-bar">
                                            <button class="btn btn-danger btn-xs pull-right" ng-if="nte.self" ng-click="vm.editTradeNote(nte.note, nte)">Edit</button>
                                            <button class="btn btn-warning btn-xs pull-right" ng-click="vm.deleteTradeNote(vm.transactionId, nte.noteId, nte, vm.transaction.notes)" ng-if="nte.isDeleteAble">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group col-md-12 clearfix">
                                <form name="vm.trade_note_form" novalidate>
                                    <label class="col-sm-12 control-label">Notes</label>
                                    <div class="col-sm-12">
                                                <textarea ng-if="!addingNote"
                                                          ng-required="true"
                                                          name="tradeNote"
                                                          ng-model="vm.noteText"
                                                          class="form-control">
                                                </textarea>
                                        <ng-messages for="vm['trade_note_form_'+row.id]['tradeNote_'+row.id].$error"
                                                     ng-if='(vm["trade_note_form_"+row.id].$submitted || vm["trade_note_form_"+row.id]["tradeNote_"+row.id].$dirty)'>
                                            <div ng-message="required" class="errorValidation">Please enter a trade note.</div>
                                        </ng-messages>
                                    </div>
                                    <div class="col-sm-12">
                                        </br>
                                        <button class="btn btn-success editable-table-button btn-xs"
                                                type="submit"
                                                style="min-width: 115px;"
                                                ng-click="vm.addTradeNote(vm.transactionId, vm.noteText, vm.transaction.notes, vm.trade_note_form)">
                                                <span ng-if="addingNote">
                                                    <i class="fa fa-spinner fa-pulse fa-spin fa-3x fa-fw"></i>
                                                    <span class="sr-only">Loading...</span>                                                    &nbsp;
                                                </span>

                                            <span ng-if="!vm.addingNote && !vm.updateNote">Add Note</span>
                                            <span ng-if="vm.updateNote">Update Note</span>
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row wizard-containers">
                    <h3 class="with-line">Change Logs</h3>
                    <div class="row">
                        <div class="horizontal-scroll">
                            <table class="table table-striped" st-table="smartTableData">
                                <thead>
                                <tr class="sortable table-header">
                                    <th><span class="count">{{vm.transaction.changeLogs.length}}</span></th>
                                    <th>Log Time</th>
                                    <th>Change By</th>
                                    <th>Log</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="log in vm.transaction.changeLogs">
                                    <td></td>
                                    <td ng-bind=" log.changeTime | date:vm.appFormats.Time"></td>
                                    <td ng-bind="log.changeByUserName"></td>
                                    <td ng-bind-html="log.description"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
