<div class="col-md-{{colSize}} warehouseCard">
 <div class="content">
    <div class="row">
        <div class="col-xs-12 name" ng-bind="warehouse.name"></div>
    </div>
    <div class="section-row">
        <div class="col-md-4 col-xs-12 section">
            <div class="heading">Consumed Capacity</div>
            <div class="number" ng-bind-html="warehouse.currentKgs | weight"></div>
        </div>
        <div class="col-md-4 col-xs-12 section">
            <div  class="heading">Total Capacity</div>
            <div class="number" ng-bind-html="warehouse.totalCapacity | weight"></div>

        </div>
        <div class="col-md-4 col-xs-12 section">
            <div  class="heading">Consumed Percentage</div>
            <div class="pie-chart-item">
                <div class="number" ng-bind-html="(warehouse.percentageConsumed | number:'2')+'<span class=\'titled\'>%</span>'"></div>
            </div>


        </div>
    </div>

     <br/>

     <div class="row button-row">
         <div>
             <button class="btn btn-warning" ng-click="openWarehouseProductStockReport(warehouse.id, warehouse.name, warehouse.currentKgs)">
                 Product Stock Summary
             </button>
         </div>
         <div class="">
             <button class="btn btn-success" ng-click="openWarehouseBusinessStockReport(warehouse.id, warehouse.name, warehouse.currentKgs)">
                 Business Stock Summary
             </button>
         </div>
     </div>
 </div>
</div>